.feedback
  .feedback__wrapper
    .feedback__wrap-img
      img.feedback__img(src="../src/forms-elements/__feedback/img/murad.jpg" alt="Отзыв")
      .feedback__like
        +like-button({span:"12", check: true})
    .feedback__wrap-content
      .feedback__user Мурад Сарафанов
      .feedback__date 5 дней назад
      .feedback__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. 
                      |  И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару 
                      | — никто не жаловался из соседей
