.radio-buttons {
  &__wrap {
    display: flex;
    align-items: flex-start;
    min-width: 36.3%;
    color: $dark-50;
    padding-top: 0.0625rem;
    padding-bottom: 0.63rem;
  }

  &__label {
    display: flex;
    cursor: pointer;

    span {
      line-height: 1.3rem;
      font-size: rem(14);
    }

    input {
      display: none;
    }
  }

  &__icon:before {
    content: "";
    display: flex;
    border: 1px solid $dark-25;
    border-radius: 0.57rem;
    width: rem(20);
    height: rem(20);
    margin-right: 0.66rem;
    letter-spacing: 0.2px;
  }

  &__label > input:checked + &__icon:before {
    content: url("data:image/svg+xml,%0A%3Csvg width='18' height='18' viewBox='-3 -3 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='12' rx='6' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='6' y1='0' x2='6' y2='12' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    border: 1px solid $purple;
  }

  input:checked + &__label {
    color: $dark-75;
  }
}
