.radio-buttons {
  &__wrap {
    display: flex;
    align-items: flex-start;
    min-width: 36.3%;
    color: $dark-50;
    padding-top: 0.0625rem;
    padding-bottom: 0.63rem;
  }

  &__label {
    display: flex;
    cursor: pointer;

    span {
      line-height: 1.3rem;
      font-size: rem(14);
    }

    input {
      display: none;
    }
  }
  &__icon {
    position: relative;
    margin-right: 0.66rem;
  }
  &__icon:before {
    content: "";
    display: flex;
    border: 1px solid $dark-25;
    border-radius: 50%;
    width: rem(20);
    height: rem(20);
    letter-spacing: 0.2px;
  }

  &__label > input:checked + &__icon:before {
    content: "";
    border: 1px solid $purple;
  }
  &__label > input:checked + &__icon:after {
    content: "";
    display: block;
    position: absolute;
    width: rem(12);
    height: rem(12);
    background: $purple;
    border-radius: 50%;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    border: 1px solid $purple;
  }

  input:checked ~ span {
    color: $dark-75;
  }
}
