mixin btn-white( data )
  if data.hover
    button.buttons__btn--white.buttons__btn--white--hover(value=data.value name=data.name)= data.text
  else  
    button.buttons__btn--white(value=data.value name=data.name)= data.text
