.datepicker{
  font-family: $fontM;
  font-size: 12px;
  &--nav{
    min-height: 50px;
    border:none;
    padding: 4px 10px;
    &-title{
      padding: 0 46px;
    }
  }
  &--cell{
    &.-selected-{
      border-radius: 18px;
    }
    &.-in-range-{

    }
    &.-range-from-{

    }
  }
  &--nav-title{
    font-family: $fontO;
    font-size: 19px;
    font-weight: bold;
    color:$dark-100;
    line-height: 24px;
  }
}