<!-- 2 текстовых поля выбора даты заезда и выезда -->
mixin date-dropdown( data )
  .date-dropdown
    .date-dropdown__wrap-date-picker
      .date-dropdown__date-in
        label.date-dropdown__subtitle=data.titleIn
          input.date-dropdown__date-input(type="text" name="date-in" value="" placeholder= data.placeholderIn disabled)
          i.date-dropdown__date-icon
      .date-dropdown__date-out
        label.date-dropdown__subtitle=data.titleOut
          input.date-dropdown__date-input(type="text" value="" name="date-out" placeholder= data.placeholderOut disabled)
          i.date-dropdown__date-icon 
<!-- Конец 2 текстовых поля выбора даты заезда и выезда -->