.header__btn-sign-in{
    height: 100%;
    display:inline-flex;
    align-items: center;
    margin-right: 20px;
    a{
        border:2px solid $purple;
        border-radius:22px;
        padding:8px 17px;
        text-decoration:none;
        font-size: 12px;
        line-height:15px;
        font-weight: bold;
    }
}