mixin subscription-text-field( data )
  +title-element({title: data.title})
  .subscription-text-field
    input(type='text' placeholder=data.placeholder name=data.name value="")
    i.icon-arrow-right
