/* start css title end subtitle style*/
.title-element {
  display: flex;
  justify-content: space-between;
  min-width: 12rem;

  &__subtitle {
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 0.94rem;
    color: $dark-50;
    letter-spacing: 0;
    margin-right: 0.04rem;
  }
}

/* end css title end subtitle style*/