mixin range-slider( data )
  .range-slider
    .range-slider__wrap-slider
      .range-slider__block
        input.range-slider__min(type="text" name=data.name value=data.valueMin)
        .range-slider__body
        input.range-slider__max(type="text" name=data.name value=data.valueMax)