.range-slider
  .range-slider__title range slider
  .range-slider__subtitle 5 000ла - 10 000ла
  .range-slider__wrap-slider
    .range-slider__block
      .range-slider__min
      .range-slider__body
      .range-slider__max