mixin subscription-text-field( data )
  .subscription-text-field
    input.subscription-text-field__input(type='text' placeholder=data.placeholder name=data.name)
    i.subscription-text-field__input-icon
