/* start CSS- checkbox-list */
.checkbox-list {

  display: flex;
  cursor: pointer;
  position: relative;
  min-width: 15rem;

  &__icon {
    position: absolute;
    top: 0.2rem;
    right: 1.1rem;
    transition: transform 0.5s, top 0.5s;

    &--rotate {
      transform: rotate(-225deg);
      top: 0.4rem;
    }
  }

  &__overlay {
    visibility: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 119;

    &--show {
      visibility: visible;
    }
  }

  &__list {
    display: block;
    width: 100%;
    margin-top: 0.625rem;
    padding-top: 0.75rem;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0.81rem;
    right: 0;
    background: #ffffff;
    transition: height 0.5s;

    &--show {
      height: 16rem;
      z-index: 123;
    }
  }
}

/* End CSS checkbox-list */