.feedback {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  min-width: 20rem;

  &__wrap-avatar {
    display: flex;
    align-items: center;
    min-width: 3.5rem;
    flex-direction: column;
    padding: 0 0.125rem;
  }

  &__avatar {
    display: inline-block;
    box-sizing: border-box;
    background: $dark-25;
    border: 2px solid #FFFFFF;
    box-shadow: 0 0.625rem 1.25rem $dark-10;
    border-radius: 2rem;
    width: rem(47.67);
    height: rem(48);
  }

  &__like {
    display: flex;
    justify-content: center;
    margin-top: 0.75rem;
  }

  &__wrap-content {
    padding-left: 0.34rem;
  }

  &__user {
    font-weight: bold;
    color: $dark-75;
    line-height: 1.5rem;
    letter-spacing: 0;
  }

  &__date {
    color: $dark-75;
    line-height: 1.5rem;
    letter-spacing: 0.06px;
  }

  &__text {
    color: $dark-75;
    line-height: 1.5rem;
    margin-top: 0.62rem;
    letter-spacing: 0.06px;
  }
}