.login-form {
  &__wrap {
    display: flex;
    flex-direction: column;
    max-width: rem(380);
    min-width: rem(320);
    border-radius: 4px;
    background: #ffffff;
    padding: rem(40) rem(30) rem(30);
    box-sizing: border-box;
    box-shadow: 0 0 1.56rem $dark-25;
  }

  &__title {
    margin: 0px;
    font-family: $fontO;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.875rem;
    letter-spacing: 0;
  }

  &__email-field {
    margin-top: 0.95rem;
  }

  &__password-field {
    margin-top: 0.13rem;
  }

  &__wrap-btn-input {
    margin-top: 1rem;
  }

  &__wrap-registration-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.85rem;
  }

  &__text-input {
    display: flex;
    width: 51.7rem;
    letter-spacing: 0;
  }
}