@import "../../formelements/__text-field/text-field";
@import "../../formelements/__buttons/buttons";


.login-form {
  &__wrap {
    display: flex;
    flex-direction: column;
    max-width: rem(380);
    min-width: rem(320);
    border-radius: 4px;
    background: #ffffff;
    padding: rem(40) rem(30) rem(30);
    box-sizing: border-box;
    box-shadow: 0 0 1.56rem $dark-25;
  }

  &__email-field {
    margin-top: 0.95rem;
  }

  &__password-field {
    margin-top: 0.13rem;
  }

  &__wrap-btn-input {
    margin-top: 1rem;
  }

  &__wrap-registration-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.9rem;
  }

  &__text-input {
    display: flex;
    min-width: 13.85rem;
    letter-spacing: 0;
  }
}