@import '../header/__logo/logo';
@import '../header/__menu/menu';
@import '../header/__btn-sign-in/btn-sign-in';
@import '../header/__btn-sign-up/btn-sign-up';
@import '../header/__userLink/userLink';



.header{
    display:flex;
    justify-content: center;
    box-sizing:border-box;
    margin:0;
    background-color:white;
    width:100%;
    height: $height-header;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    &__clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
    &__content{
        display:flex;
        width: $width-content;
    }
    &__menuBlock{
        float:right;
        display:flex;
        align-items: center;
        justify-content:flex-end;
        width:100%;
    }
    &__userBlock{
        display:flex;
        justify-content: flex-end;
    }
    &__tooBlock{
        margin-top:39px;
    }
}