include __logo/logo.pug
.header__menuBlock
   include __menu/menu.pug
   .header__userBlock.header__clearfix
      include __btn-sign-in/btn-sign-in.pug
      include __btn-sign-up/btn-sign-up.pug
            