<!-- Текстовое поле с маской даты  -->
mixin masked-text-field( data )
  .masked-text-field
    input.masked-text-field__input(type='text' value=data.value placeholder=data.placeholder name=data.name)
