.advantages {
  &__wrap {
    min-width: 17.19rem;
    display: flex;
    align-items: flex-start;
    padding: 1.31rem 0 1rem;
    border-bottom: 1px solid $dark-10;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 2.94rem;
    height: 2.94rem;
    margin-top: 0.25rem;
  }

  &__wrap-text {
    padding-left: 0.65rem;
    margin-top: 0.2rem;
  }

  &__head {
    font-weight: bold;
    padding-bottom: 0.1875rem;
  }

  &__desc {
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0;
  }
}