mixin advantages ( data ) 
  .advantages__wrap
    .advantages__icon
      img.advantages__img(src=data.img)
    .advantages__wrap-text
      .advantages__head= data.head
      .advantages__desc= data.desc