include ../../formelements/__date-dropdown/date-dropdown.pug
include ../../formelements/__dropdown/__dropdown-guest/dropdown-guest.pug
include ../../formelements/__buttons/__btn-with-icon/btn-with-icon.pug

mixin search-room()
  .search-room
    .search-room__wrap
      h1 Найдём номера под ваши пожелания
      .search-room__wrap-date
        +date-dropdown({nameIn:"dateIn", nameIn:"dateOut", titleIn: "прибытие", titleOut: "выезд", placeholderIn: "ДД.ММ.ГГГГ", placeholderOut:"ДД.ММ.ГГГГ"})
      .search-room__wrap-guest
        +dropdown-guest({name: "guests", title: "гости"})
      .search-room__wrap-btn
        +btn-with-icon({name: "btn-pick-number", text:"подобрать номер"})
