.menu{
    float:right;
    padding:0px;
    
    &__list{
        margin: 0px;
        padding:inherit;
        display:inline-flex;
        align-items: center;
        height: 100%;
    }
    &__item{
        list-style-type: none;
        padding:0;
        font-size:14px;
        font-weight:500;
        color: $dark-50;
        margin-right:28px;
    }
    &__img{
        padding-left:5px;
    }
    &__link{
        text-decoration:none;
        &--active{
            font-weight:bold;
        }
    }
    &__link:hover{
        font-weight: bold;

    }
}