.text-field{
    padding-bottom: 13px;
    &__title{
        font-family: Montserrat, 'Open sans', sans-serif;
        font-weight: 700;  
        font-size: 12px;
        line-height: 15px;
        float: left;
        text-transform: uppercase;
        padding-top: 3px;
        letter-spacing  : 0px;

    }
    &__subtitle{
        font-size: 12px;
        line-height: 15px;
        text-align: right;
        color: $dark-50;
        letter-spacing: -0.2px;
        &--small-margin{
            padding-top:3px;
        }
    }
    &__form{
        
    }
    &__input{
        width:100%;
        font-family: Montserrat, 'Open sans', sans-serif;
        font-size: 14px;
        line-height: 24px;
        padding: 9px 14px;
        border-radius: 4px;
        border: 1px solid $dark-25;
        margin: 5px 0px; 
        letter-spacing: -0.2px;
        &::-webkit-input-placeholder{
            color:$dark-25;
        }
        &:hover, &:focus{
            color: $dark-75;
            border-color: $dark-75;
            outline: none;
        }
        &--hover{
            color:$dark-75;
            border-color: $dark-75;
        }
    }
}