/* start css text-field */
.text-field{
  &__input{
    max-width: 100%;
    min-width: 91%;
    font-family: Montserrat, 'Open sans', sans-serif;
    font-size: 14px;
    line-height: 25px;
    padding: 9px 14px 8px;
    border-radius: 4px;
    border: 1px solid $dark-25;
    margin: 4px 0px; 
    letter-spacing: -0.2px;
    &::-webkit-input-placeholder{
      color: $dark-25;
    }
    &:hover, &:focus{
      color: $dark-75;
      border-color: $dark-75;
      outline: none;
    }
    &--hover{
      color: $dark-75;
      border-color: $dark-75;
    }
  }
}
/* End css text-field */
