.wrap-text-field
    .text-field__title text field
    .text-field__subtitle DEFAULT
    .text-field__form 
        input.text-field__input(type='text' placeholder='Email')

.wrap-text-field
    .text-field__title text field
    .text-field__subtitle HOVER /FOCUS
    .text-field__form 
        input.text-field__input.text-field__input--hover(type='text' value='This is pretty awesome')