.text-field
    .text-field__title text field
    .text-field__subtitle DEFAULT
    .text-field__form 
        input.text-field__input(type='text' placeholder='Email')

.text-field
    .text-field__title text field
    .text-field__subtitle.text-field__subtitle--small-margin HOVER / FOCUS
    .text-field__form 
        input.text-field__input.text-field__input--hover(type='text' value='This is pretty awesome')