@import "../../formelements/__date-dropdown/date-dropdown";
@import "../../formelements/__dropdown/__dropdown-guest/dropdown-guest";
@import "../../formelements/__buttons/__btn-with-icon/btn-with-icon";

.booking-room {
  &__wrap {
    display: flex;
    flex-direction: column;
    max-width: rem(380);
    border-radius: 4px;
    background: #ffffff;
    padding: 2.5rem rem(30) rem(30);
    box-sizing: border-box;
    box-shadow: 0 0 1.56rem $dark-25;
    @media screen and (max-width: 360px) {
      padding: rem(15);
    }
  }

  &__wrap-number-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__number-room {
    font-family: $fontO;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.3px;

    &:before {
      content: "№";
      margin-right: 0.3125rem;
      font-size: 0.8rem;
    }

    &:after {
      content: "люкс";
      font-family: $fontM;
      font-size: 0.8rem;
      margin-left: rem(5);
      letter-spacing: 1.2px;
      color: $purple;
    }
  }

  &__price {
    display: inline-flex;
    align-items: flex-end;
    padding-bottom: rem(3);
  }

  &__cost-per-day {
    color: $dark-50;
    font-weight: bold;
    font-size: 0.875rem;

    &:after {
      content: "c";
      font-family: "rouble";
      margin-left: -0.1875rem;
      margin-right: 0.11rem;
    }
  }

  &__cost-day {
    color: $dark-50;
    font-size: 0.75rem;
    margin-right: 0.1rem;
  }

  &__wrap-date-form {
    margin-top: 1.3rem;
  }

  &__wrap-guest-form {
    margin-top: 0.87rem;
  }

  &__wrap-service-cost {
    margin-top: 0.78rem;
  }

  &__inner-service {
    display: block;
    letter-spacing: 0px;
    padding-bottom: 0.85rem;
    line-height: 1.2rem;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    span {
      font-size: rem(14);
    }
  }

  &__box-service {
    display: block;
    max-width: 68.5%;
    box-sizing: border-box;
    float: left;

    span {
      font-size: rem(14);
      @media screen and (max-width: 360px) {
        display: block;
      }
    }
  }

  &__service {
    line-height: 1.12rem;

    &-price {
      &:after {
        content: "a";
        font-family: "rouble";
        margin-right: 0.25rem;
      }
    }

    &-days {
    }
  }

  &__service-cost {
    float: right;

    &:after {
      content: "a";
      font-family: "rouble";
      margin-right: rem(1);
      margin-left: rem(-1);
    }
  }

  &__icon-desc {
    display: table;
    float: left;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-family: $fontM;
    font-size: rem(14);
    font-style: normal;
    line-height: 1rem;
    width: 1.18rem;
    border: 1px solid $dark-25;
    text-align: center;
    color: $dark-25;
    cursor: pointer;
    margin-left: 0.17rem;
  }

  &__wrap-total-cost {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: $fontO;
    font-size: rem(19);
    line-height: 1.5rem;
    font-weight: bold;
    margin-top: 0.77rem;
    letter-spacing: -0.1px;
    margin-left: 1px;
  }

  &__line {
    display: inline-block;
    min-width: 56%;
    border-bottom: 1px dotted $dark-50;
    margin-bottom: 0.3125rem;
  }

  &__total-cost {
    &:after {
      content: "a";
      font-family: "rouble";
    }
  }

  &__wrap-btn-booking {
    margin-top: 1.2rem;
  }
}
