@import "../../forms-elements/__dropdown/__dropdown-guest/dropdown-guest";
@import "../../forms-elements/__date-dropdown/date-dropdown";
@import "../../forms-elements/__buttons/buttons";



.search-room{
    &__wrap{
        display: flex;
        flex-direction: column;
        padding: 1.5rem 0rem; 
        min-width: 100%;
        height: auto;
        // max-width: 23.5rem;
        // min-height: 23.12rem;
        border-radius:4px;
        background:#ffffff;
        box-shadow: 0px 0px 1.56rem $dark-25;
    }
    &__title{
        margin:0px;
        font-family: $fontO;
        font-size: 1.5rem;
        line-height: 1.875rem;
        padding: 0.94rem 1.8rem 0;
        letter-spacing: -0.06px;
    }
    &__wrap-date{
        margin: 1.35rem 1.76rem 0 1.75rem;
    }
    &__wrap-guest{
        margin: 1.06rem 1.8rem 0 1.85rem;
    }
    &__wrap-btn{
        margin: 0.7rem 1.8125rem 0.35rem 1.82rem;
    }
}
