@import "../__menu/menu";
@import "../../formelements/__buttons/buttons";
@import "../../formelements/__logo/logo";

.header {
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 100%;
    background: #ffffff;
    height: rem(70);
    box-shadow: 0 rem(10) rem(20) $dark-5;
    box-sizing: border-box;

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;
        max-width: 72.5rem;
        margin: 0 1rem;

    }

    &__logo {
        display: flex;
        flex: 1 1 10%;
        text-align: left;
    }

    &__menu {
        flex-grow: 1;

        @media screen and (max-width: 560px) {
            max-width: 3rem;
        }

    }

    &__user-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            border-left: 1px solid $dark-10;
            padding: rem(6) rem(0) rem(6) rem(20);
        }

        span {
            letter-spacing: 0.01px;
            color: $dark-50;

            &:hover {
                font-weight: bold;
            }
        }

        .button {
            min-width: 5.38rem;
            height: 2.1rem;
        }

        @media screen and (max-width: 560px) {
            display: none;
        }
    }


    &__user-box-mobile {
        display: none;

        @media screen and (max-width: 560px) {
            display: flex;
            justify-content: flex-end;
            order: 1;
            margin-left: 1rem;
        }

        i {
            display: block;
            width: 2rem;
            height: 2rem;
            font-size: 2rem;
            color: #8BA4F9;
        }

    }

    &__inner-register-btn {
        margin-left: rem(20);

        .button {
            padding: .5625rem 1.24rem .625rem;
            height: 2.1rem;

        }
    }



}

@media (max-width: 829px) {
    .header {
        min-width: 22rem;
        padding: 0 1rem;

        &__inner {
            width: 100%;
            padding: 0 1rem;
        }

        &__menu {
            order: 1;
        }

        &__login-box {
            width: 100%;
            justify-content: center;
            margin-left: 1rem;
        }
    }
}