include ../../formelements/__buttons/__btn--white/btn--white.pug
include ../../formelements/__buttons/__btn--blue/btn--blue.pug
include ../../formelements/__logo/logo.pug
include ../__menu/menu.pug
include ../../cards/__login-form/login-form.pug
include ../../cards/__registration-form/registration-form.pug

mixin header (data)
  .header
    .container
      .header__logo
        +logo({})
      .header__menu
        +menu({})
      .header__user-box-mobile
        i.icon-user
      if (data.auth)
        .header__user-box
          .header__inner-login-btn
            +btn-white({name: "login-btn", value: "input", text: "ВОЙТИ"})
          .header__inner-register-btn
            +btn-blue({name: "register-btn", value: "register", text: "ЗАРЕГИСТРИРОВАТЬСЯ"})
      else
        .header__user-box
          a(href="user") 
            span Юлий Цезарь
    .wrap__login-form 
      +login-form()
    .wrap__register-form  
      +registration-form()