.login-form{
  &__wrap{
    display: flex;
    flex-direction: column;
    max-width: 23.42rem;
    border-radius: 4px;
    background: #ffffff;
    padding: 1.88rem 1.77rem 1.95rem;
    box-sizing: border-box;
    box-shadow: 0px 0px 1.56rem $dark-25;
  }
  &__title{
    margin: 0px;
    font-family: $fontO;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.875rem;
    padding: 0.47rem 0rem 1rem;
    letter-spacing: -0.3px;
  }
  &__email-field{

  }
  &__password-field{
    margin-top: 0.13rem;
  }
  &__wrap-btn-input{
    margin-top: 1rem;
  }
  &__wrap-registration-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 1.85rem;
    height: 2.75rem;
  }
  &__text-input{
    width: 50rem;
    margin-top: 0.8rem;
    letter-spacing: 0px;
  }
}