@import '../forms-elements/__text-field/text-field';
@import '../forms-elements/__title-element/title-element';
@import '../forms-elements/__text-field/text-field';
@import '../forms-elements/__dropdown/__dropdown-guest/dropdown-guest';
@import '../forms-elements/__date-dropdown/date-dropdown';
@import '../forms-elements/__masked-text-field/masked-text-field';
@import '../forms-elements/__filter-date-dropdown/filter-date-dropdown';
@import '../forms-elements/__subscription-text-field/subscription-text-field';
@import '../forms-elements/__checkbox-buttons/checkbox-buttons';
@import '../forms-elements/__radio-buttons/_radio-buttons';
@import '../forms-elements/__toggle/_toggle';
@import '../forms-elements/__like-button/_like-button';
@import '../forms-elements/__rate-button/_rate-button';
@import '../forms-elements/__range-slider/_range-slider';
@import '../forms-elements/__buttons/_buttons';
@import '../forms-elements/__pagination/_pagination';
@import '../forms-elements/__dropdown/__dropdown-room/dropdown-room';
@import '../forms-elements/__expandable-checkbox-list/_expandable-checkbox-list';
@import '../forms-elements/__advantages/_advantages';
@import '../forms-elements/__rich-checkbox-btn/_rich-checkbox-btn';
@import '../forms-elements/__bullet-list/_bullet-list';
@import '../forms-elements/__feedback/_feedback';

$width-column : ($max-width - 141*2)/$max-width*100%; // ширина колонок 
.wrap{
  padding:140px 140px 40px 140px;
}
.wrapper{
  &__elements{
    width:100%;
    display:flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: flex-start;
    padding-bottom: 90px;
  }
  &-left{
    display:flexbox;
    width: $width-column;
    box-sizing: border-box;
    &__text-field{
      padding-right: 66px;
      margin-bottom: 13px;
    }
    &__dropdown{
      margin-top: 14px;
      padding-right: 66px;
      margin-bottom: 15px;
      &-wrap{
        margin-top:4px;
      }
    }
    &__masked-text-field{
      padding-right: 66px;
    }
    &__date-dropdown{
      padding-right: 85px;
      margin-top: 35px;
    }
    &__filter-date-dropdown{
      padding-right: 119px;
      margin-top: 38px;
    }
    &__subscription-text-field{
      padding-right: 119px;
      margin-top: 37px;
    }
    &__dropdown-room{
      margin-top:3px;
      padding-right: 121px;
      margin-bottom: 150px;
      margin-left:-1px;
    }
    &__expandable-checkbox-list{
      padding-right: 121px;
      margin-left: 0px;
    }
    &__advantages{
      padding-right: 79px;
      margin-top: 98px;
    }
  }
  &-center{
    width: $width-column;
    box-sizing: border-box;
    &__checkbox-buttons{
      padding-left:60px;
    }
    &__radio-buttons{
      padding-left:60px;
      margin-top:36px;
    }
    &__toggle{
      padding-left:59px;
      margin-top:37px;
    }
    &__like-button{
      padding-left: 59px;
      margin-top: 44px;
    }
    &__wrap-like-button{
      width: 91px;
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
    }
    &__rate-button{
      padding-left: 60px;
      margin-top: 33px;
    }
    &__dropdown-guest{
      padding-left: 58px;
      padding-right: 7px;
    }
    &__rich-checkbox-btn{
      max-width: 280px;
      margin-left: 58px;
      margin-right: 7px;
      margin-top:253px;
    }
  }
  &-right{
    width: $width-column;
    box-sizing: border-box;
    &__range-slider{
      padding: 3px 0px 0px 65px;
      width:264px;
    }
    &__buttons{
      padding: 43px 0px 0px 65px;
    }
    &__pagination{
      padding: 18px 0px 0px 66px;
    }
    &__dropdown-guest{
      padding-left: 65px;
    }
    &__bullet-list{
      padding-left: 65px;
      margin-top: 253px;
      width:260px;
    }
  }
  &__feedback{
    margin-top: 127px;
    margin-left: 82px;
    box-sizing: border-box;
    width: $width-column*2;
  }
}
