@import "./__text-field/text-field";
@import "./__title-element/title-element";
@import "./__text-field/text-field";
@import "./__dropdown/__dropdown-guest/dropdown-guest";
@import "./__date-dropdown/date-dropdown";
@import "./__masked-text-field/masked-text-field";
@import "./__filter-date-dropdown/filter-date-dropdown";
@import "./__subscription-text-field/subscription-text-field";
@import "./__checkbox-buttons/checkbox-buttons";
@import "./__radio-buttons/_radio-buttons";
@import "./__toggle/_toggle";
@import "./__like-button/_like-button";
@import "./__rate-button/_rate-button";
@import "./__range-slider/_range-slider";
@import "./__buttons/_buttons";
@import "./__pagination/_pagination";
@import "./__dropdown/__dropdown-room/dropdown-room";
@import "./__expandable-checkbox-list/_expandable-checkbox-list";
@import "./__advantages/_advantages";
@import "./__rich-checkbox-btn/_rich-checkbox-btn";
@import "./__bullet-list/_bullet-list";
@import "./__feedback/_feedback";

$width-column : ($max-width - 141*2)/$max-width*100%; // ширина колонок 
.wrap{
  padding:140px 140px 40px 140px;
}
.wrapper{
  &__elements{
    width:100%;
    display:flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: flex-start;
    padding-bottom: 90px;
  }
  &-left{
    display:flexbox;
    width: $width-column;
    box-sizing: border-box;
    &__text-field{
      padding-right: 66px;
      margin-bottom: 13px;
    }
    &__dropdown{
      margin-top: 14px;
      padding-right: 66px;
      margin-bottom: 15px;
      &-wrap{
        margin-top:4px;
      }
    }
    &__masked-text-field{
      padding-right: 66px;
    }
    &__date-dropdown{
      padding-right: 66px;
      margin-top: 38px;
    }
    &__filter-date-dropdown{
      padding-right: 119px;
      margin-top: 39px;
    }
    &__subscription-text-field{
      padding-right: 119px;
      margin-top: 36px;
    }
    &__dropdown-room{
      margin: 5px 0px 150px -1px;
      padding-right: 121px;
    }
    &__wrap-dropdown-room{
      margin-bottom:18px;
    }
    &__expandable-checkbox-list{
      padding-right: 121px;
      margin-left: 0px;
      margin-top: 170px;
    }
    &__wrap-checkbox-list{
      margin-bottom: 41px;
    }
    &__advantages{
      padding-right: 79px;
      margin-top: 98px;
    }
  }
  &-center{
    display:flexbox;
    width: $width-column;
    box-sizing: border-box;
    &__checkbox-buttons{
      padding-left: 59px;
      &-wrap{
        margin-left: 1px;
        margin-top: 15px;
      }
    }
    &__radio-buttons{
      padding-left:60px;
      margin-top:37px;
      &-wrap{
        margin-top:14px;
        display:flex;
        justify-content: space-between;
        width: 217px;
      }
    }
    &__toggle{
      padding-left: 59px;
      margin-top: 28px;
      &-wrap{
        margin-top: 13px;
      }
    }
    &__like-button{
      padding-left: 59px;
      margin-top: 32px;
    }
    &__wrap-like-button{
      width: 91px;
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }
    &__rate-button{
      padding-left: 59px;
      margin-top: 37px;
      &-wrap{
        margin: 16px 0px 0px 43px;
      }
    }
    &__dropdown-guest{
      padding-left: 59px;
      padding-right: 7px;
      margin-top: 5px;
    }
    &__wrap-dropdown-guest{
      margin-top: 3px;
    }
    &__rich-checkbox-btn{
      max-width: 280px;
      margin-left: 59px;
      margin-right: 7px;
      margin-top:253px;
    }
    &__wrap-checkbox{
      margin-top: 14px;
    }
  }
  &-right{
    display:flexbox;
    width: $width-column;
    box-sizing: border-box;
    &__range-slider{
      padding: 0px 0px 0px 65px;
      width:264px;
    }
    &__buttons{
      padding: 41px 0px 0px 65px;
    }
    &__wrap-btn{
      width:216px;
      padding: 14px 0px 15px 1px;
      display:flex;
      justify-content: space-between;
    }
    &__wrap-icon-link{
      width:152px;
      padding: 14px 0px 15px 0px;
      margin-left:-4px;
      display:flex;
      justify-content: space-between;
    }
    &__wrap-btn-with-icon{
      width:318px;
      padding: 14px 0px 15px 0px;
    }
    &__pagination{
      padding: 22px 0px 0px 66px;
    }
    &__wrap-pagination{
      margin-top: 14px;
    }
    &__dropdown-guest{
      padding-left: 65px;
      margin-top: 5px;
    }
    &__bullet-list{
      padding-left: 65px;
      margin-top: 253px;
      width:260px;
    }
    &__wrap-bullet-list{
      margin-top: 12px;
      margin-left: 1px;
    }
  }
  &__feedback{
    margin-top: 127px;
    margin-left: 82px;
    box-sizing: border-box;
    width: $width-column*2;
  }
}
