include \__title-element\title-element.pug
include \__like-button\like-button.pug
include \__dropdown\__dropdown-guest\dropdown-guest.pug
include \__text-field\text-field.pug
include \__masked-text-field\masked-text-field.pug
include \__date-dropdown\date-dropdown.pug
include \__filter-date-dropdown\filter-date-dropdown.pug
include \__subscription-text-field\subscription-text-field.pug
include \__checkbox-buttons\checkbox-buttons.pug
include \__radio-buttons\radio-buttons.pug
include \__toggle\toggle.pug
include \__rate-button\rate-button.pug


.wrap
  .wrapper__elements
    .wrapper-left 
      .wrapper-left__text-field
        +title-element({title: "text field", subtitle: " default"})
        +text-field({placeholder: "Email"})
      .wrapper-left__text-field
        +title-element({title: "text field", subtitle: "hover /focus", marginTop: true})
        +text-field({value: "This is pretty awesome", hover: true})
      .wrapper-left__dropdown
        +title-element({title: "dropdown", subtitle: "default", marginTop: true})
        .wrapper-left__dropdown-wrap
          +dropdown-guest({name: "guest-form"})
      .wrapper-left__masked-text-field
        +title-element({title: "masked text field", subtitle: "default", marginTop: false})
        +masked-text-field({placeholder: "ДД.ММ.ГГГГ"})
      .wrapper-left__date-dropdown
        +date-dropdown({titleIn: "date dropdown", titleOut: "date dropdown", placeholderIn: "ДД.ММ.ГГГГ",placeholderOut: "19.08.2019"})
      .wrapper-left__filter-date-dropdown
        +title-element({title: "filter date dropdown"})
        +filter-date-dropdown({name: "date-in-out"})
      .wrapper-left__subscription-text-field
        +title-element({title: "subscription text field"})
        +subscription-text-field({placeholder: "Email",name: ""})
    .wrapper-center 
      .wrapper-center__checkbox-buttons
        +title-element({title: "checkbox buttons"})
        .wrapper-center__checkbox-buttons-wrap
          +checkbox-item({name: "checkbox", checked:false, text: "Можно курить"})
          +checkbox-item({name: "checkbox", checked:true, text: "Можно с питомцами"})
          +checkbox-item({name: "checkbox", checked:true, text: "Можно пригласить гостей (до 10 человек)"})
      .wrapper-center__radio-buttons
        +title-element({title: "radio buttons"})
        .wrapper-center__radio-buttons-wrap
          +radio-buttons({name: "female", checked: true, text: "Мужчина"})
          +radio-buttons({name: "female", checked: false, text: "Женщина"})
      .wrapper-center__toggle
        +title-element({title: "toggle"})
        .wrapper-center__toggle-wrap
          +toggle({name: "toggle", checked: true, text: "Получать спецпредложения"})
          +toggle({name: "toggle", checked: false, text: "Получать спецпредложения"})
      .wrapper-center__like-button
        +title-element({title: "like button"})
        .wrapper-center__wrap-like-button
          +like-button({span:"2"})  
          +like-button({span:"12", check: true})
      .wrapper-center__rate-button
        +title-element({title: "rate button"})
        .wrapper-center__rate-button-wrap
          +rate-button({name: "rating"})
          +rate-button({name: "rating 1"})

    .wrapper-right
      .wrapper-right__range-slider
        include \__range-slider\range-slider.pug 
      .wrapper-right__buttons
        include \__buttons\buttons.pug 
      .wrapper-right__pagination
        include \__pagination\pagination.pug 
  .wrapper__elements
    .wrapper-left
      .wrapper-left__dropdown-room
        include __dropdown/__dropdown-room/dropdown-room.pug
      .wrapper-left__expandable-checkbox-list
        include __expandable-checkbox-list/expandable-checkbox-list.pug
    .wrapper-center 
      .wrapper-center__dropdown-guest
        include __dropdown/__dropdown-guest/dropdown-guest.pug
      .wrapper-center__rich-checkbox-btn
        include __rich-checkbox-btn/rich-checkbox-btn.pug
    .wrapper-right
      .wrapper-right__dropdown-guest
        include __dropdown/__dropdown-guest/dropdown-guest.pug
      .wrapper-right__bullet-list
        include __bullet-list/bullet-list.pug
  .wrapper__elements
    .wrapper-left
      .wrapper-left__advantages
        include __advantages/advantages.pug
    .wrapper__feedback
      include __feedback/feedback.pug