.wrapper__elements
    .wrapper-left 
        .wrapper-left__text-field
            include \__text-field\text-field.pug
        .wrapper-left__dropdowns
            include \__dropdowns\dropdowns.pug
        .wrapper-left__date-dropdown
            include \__date-dropdown\date-dropdown.pug
        .wrapper-left__filter-date-dropdown
            include \__filter-date-dropdown\filter-date-dropdown.pug
        .wrapper-left__subscription-text-field
            include \__subscription-text-field\subscription-text-field.pug
    .wrapper-center 
        .wrapper-center__checkbox-buttons
            include \__checkbox-buttons\checkbox-buttons.pug
        .wrapper-center__radio-buttons
            include \__radio-buttons\radio-buttons.pug
        .wrapper-center__toggle
            include \__toggle\toggle.pug
        .wrapper-center__like-button
            include \__like-button\like-button.pug
    .wrapper-right 

