.wrapper__elements
    .wrapper-left 
        .wrapper-left__text-field
            include \__text-field\text-field.pug
        .wrapper-left__dropdowns
            include \__dropdowns\dropdowns.pug
        .wrapper-left__date-dropdown
            include \__date-dropdown\date-dropdown.pug

    .wrapper-center 
    .wrapper-right 

