include \__title-element\title-element.pug
include \__like-button\like-button.pug
include \__dropdown\__dropdown-guest\dropdown-guest.pug
include \__text-field\text-field.pug
include \__masked-text-field\masked-text-field.pug
include \__date-dropdown\date-dropdown.pug
include \__filter-date-dropdown\filter-date-dropdown.pug
include \__subscription-text-field\subscription-text-field.pug
include \__checkbox-buttons\checkbox-buttons.pug
include \__radio-buttons\radio-buttons.pug
include \__toggle\toggle.pug
include \__rate-button\rate-button.pug
include \__range-slider\range-slider.pug 
include \__buttons\buttons.pug 
include \__pagination\pagination.pug 
include __dropdown/__dropdown-room/dropdown-room.pug
include __expandable-checkbox-list/expandable-checkbox-list.pug
include __advantages/advantages.pug
include __rich-checkbox-btn/rich-checkbox-btn.pug
include __bullet-list/bullet-list.pug
include __feedback/feedback.pug

.wrap
  .wrapper__elements
    .wrapper-left 
      .wrapper-left__text-field
        //- +title-element - Заголовок элементов
        //- Имена передаваемого объекта:
        //- title - заголовок, 
        //- subtitle - подзаголовок, отображается справа, 
        //- marginTop: true - увеличивает расстояние от верхней границы до subtitle 
        +title-element({title: "text field", subtitle: " default"})

        //- +text-field - текстовое поле
        //- Имена передаваемого объекта:
        //-  placeholder - placeholder, 
        //-  hover:true - добавляет эффект, наведенной на поле курсора мышки
        //-  value - value
        //-  name - имя текстового поля
        +text-field({placeholder: "Email"})

      .wrapper-left__text-field
        +title-element({title: "text field", subtitle: "hover /focus", marginTop: true})
        +text-field({value: "This is pretty awesome", hover: true})

      .wrapper-left__dropdown
          //- +dropdown-guest
          //- Имена передаваемого объекта:
          //-  name - имя поля данных
          //- Значения data-: (не пердаются в mixin)
          //-  adults - количество взрослых
          //-  children - количество детей
          //-  babies - количество младенцев
          +dropdown-guest({name: "guest-form", title: "dropdown", subtitle: "default", marginTop: true})

      .wrapper-left__masked-text-field
        +title-element({title: "masked text field", subtitle: "default", marginTop: false})
        //- Текстовое поле с маской
        //- Имена передаваемого объекта:
        //-  placeholder - placeholder, 
        //-  value - value
        //-  name - имя текстового поля
        +masked-text-field({placeholder: "ДД.ММ.ГГГГ"})

      .wrapper-left__date-dropdown
        //- +date-dropdown
        //- 2 поля ввода даты въезда и выезда
        //- Имена передаваемого объекта:
        //-  titleIn - заголовок поля въезда
        //-  titleOut - заголовок поля выезда
        //-  placeholderIn - placeholder поля въезда
        //-  placeholderOut - placeholder поля выезда
        //-  valueIn и valueOut - value полей ввода
        //-  nameIn и nameOut - имя поля данных
        +date-dropdown({titleIn: "date dropdown", titleOut: "date dropdown", placeholderIn: "ДД.ММ.ГГГГ", placeholderOut: "19.08.2019"})
      
      .wrapper-left__filter-date-dropdown
        +title-element({title: "filter date dropdown"})
        //- +filter-date-dropdown
        //- Поле корректирования даты отдыха
        //- Имена передаваемого объекта:
        //-  name - имя поля ввода
        +filter-date-dropdown({name: "date-in-out"})

      .wrapper-left__subscription-text-field
        +title-element({title: "subscription text field"})
        //- +subscription-text-field
        //- Поле с кнокой для подписки
        //- Имена передаваемого объекта:
        //-  placeholder - plcaeholder
        //-  name - имя поля ввода
        +subscription-text-field({placeholder: "Email", name: ""})

    .wrapper-center 

      .wrapper-center__checkbox-buttons
        +title-element({title: "checkbox buttons"})
        .wrapper-center__checkbox-buttons-wrap
          //- +checkbox-item 
          //- Флажок checkbox
          //- Имена передаваемого объекта:
          //-  name - имя флажка
          //-  text - текст флажка
          //-  checked:true - состояние поля "Выбран"
          //-  value - передаваемое значение пункта
          +checkbox-item({name: "checkbox", checked:false, text: "Можно курить", value: "smoke"})
          +checkbox-item({name: "checkbox", checked:true, text: "Можно с питомцами", value: "animal"})
          +checkbox-item({name: "checkbox", checked:true, text: "Можно пригласить гостей (до 10 человек)", value: "guest"})

      .wrapper-center__radio-buttons
        +title-element({title: "radio buttons"})
        .wrapper-center__radio-buttons-wrap
          //- +radio-buttons
          //- Переключатель
          //- Имена передаваемого объекта:
          //-  name - имя переключателя
          //-  checked: true - состояние переключателя
          //-  text - текст переключателя
          //-  value - передаваемое значение переключателя
          +radio-buttons({name: "female", text: "Мужчина", value: "men"})
          +radio-buttons({name: "female", text: "Женщина", value: "women",  checked: true})

      .wrapper-center__toggle
        +title-element({title: "toggle"})
        .wrapper-center__toggle-wrap
          //- +toggle
          //- Тумблер 
          //- Имена передаваемого объекта:
          //-  name - имя тумблера
          //-  checked: true - состояние тумблера
          //-  text - текст тумблера
          +toggle({name: "toggle", checked: true, text: "Получать спецпредложения"})
          +toggle({name: "toggle", checked: false, text: "Получать спецпредложения"})

      .wrapper-center__like-button
        +title-element({title: "like button"})
        .wrapper-center__wrap-like-button
          //- +like-button
          //- Кнопка Like
          //- Имена передаваемого объекта:
          //-  span - число, выводимое на кнопке
          //-  ckecked: true - состояние кнопки
          //-  name - имя кнопки
          //-  value - дополнительные передаваемые данные
          +like-button({span:"2", name: "likeBtn"})  
          +like-button({span:"12", name: "likeBtn", value: "", checked: true})

      .wrapper-center__rate-button
        +title-element({title: "rate button"})
        .wrapper-center__rate-button-wrap
          //- +rate-button
          //- Рейтинг из 5 звезд
          //- Имена передаваемого объекта:
          //-  name - имя поля рейтинга
          //-  user - переменная data-user, передаваемая данные о пользователе.
          +rate-button({name: "rating"})
          +rate-button({name: "rating 1"})

    .wrapper-right

      .wrapper-right__range-slider
        +title-element({title: "range slider", subtitle: " 5 000Р - 10 000Р", marginTop: true})
        .wrapper-right__range-slider-wrap
          //- +range-slider
          //- бегунок диаппозона
          //- Имена передаваемого объекта:
          //-  name - имя слайдера
          //-  valueMin - Минимальное значение
          //-  valueMax - Максимальное значение
          +range-slider({name: "slider", valueMin: "", valueMax: ""})

      .wrapper-right__buttons
        +title-element({title: "buttons"})
        .wrapper-right__wrap-btn
          //- +button-blue - кнопка с синим фоном
          //- +button-white - кнопка с белым фоном 
          //- +button-link - кнопка ссылка, без границы
          //- +button-with-icon - кнопка со стрелкой вправо
          //- Имена передаваемого объекта:
          //-  name - имя кнопки
          //-  value - value
          //-  text - Текст, отображаемый на кнопке
          //-  hover:true - добавляет стиль, имитирующий выделение кнопки
          +btn-blue({name: "btn", value: "btn", text: "Click Me"})
          +btn-blue({name: "btn", value: "btn", text: "Click Me", hover:true})
        .wrapper-right__wrap-btn
          +btn-white({name: "btn", value: "btn", text: "Click Me"})
          +btn-white({name: "btn", value: "btn", text: "Click Me", hover:true})
        .wrapper-right__wrap-icon-link
          +btn-link({name: "btn", value: "btn", text: "Click Me"})
          +btn-link({name: "btn", value: "btn", text: "Click Me", hover:true})
        .wrapper-right__wrap-btn-with-icon
          +btn-with-icon({name:"btn", value: "btn", text: "Перейти к оплате"})

      .wrapper-right__pagination
        +title-element({title: "pagination"})
        .wrapper-right__wrap-pagination
          //- +pagination
          //- Постраничная навигация (нумерация страниц)
          //- Имена передаваемого объекта:
          //-  name - имя кнопок
          //-  value - передаваемые значения 
          +pagination({name: "btn"})

  .wrapper__elements
    .wrapper-left

      .wrapper-left__dropdown-room
        +title-element({title: "dropdown", subtitle: "DEFAULT", marginTop:true})
        .wrapper-left__wrap-dropdown-room
          //- +dropdown-room
          //- форма выбора комнаты
          //- Имена передаваемого объекта:
          //-  name - имя поля данных
          //-  open:true - разварачивает форму с кнопками
          //- Значения data-: (не пердаются в mixin)
          //-  bedroom - количество спален
          //-  bed - количество кроватей
          //-  bathroom - количество ванных комнат
          +dropdown-room({name:"select-room", open: false})

        +title-element({title: "dropdown", subtitle: "EXPANDED", marginTop:true})
        .wrapper-left__wrap-dropdown-room
          +dropdown-room({name:"select-room", open: true})

      .wrapper-left__expandable-checkbox-list
        .wrapper-left__wrap-checkbox-list
          //- +checkbox-list
          //- Список с флажками
          //- Имена передаваемого объекта:
          //-  name - имя списка (пунктов списка)
          //-  title - заголовок списка
          +checkbox-list({name: "conditions", title: "expandable checkbox list"})
        .wrapper-left__wrap-checkbox-list
          +checkbox-list({name: "conditions", title: "expandable checkbox list"})

    .wrapper-center 
      .wrapper-center__dropdown-guest
        +title-element({ title: "dropdown"})
        .wrapper-center__wrap-dropdown-guest
          +dropdown-guest({name: "dpguest"})

      .wrapper-center__rich-checkbox-btn
        +title-element({title: "rich checkbox buttons"})
        .wrapper-center__wrap-checkbox
          //- +rich-checkbox-buttons
          //- Расширенный флажок
          //- Имена передаваемого объекта:
          //-  name - имя флажка
          //-  value - value
          //-  head - заголовок
          //-  desc - описание
          //-  checked:true - выделенный флажок
          +rich-checkbox-buttons({name: "wide-corridor", head: "Широкий коридор", desc: "Ширина коридоров в номере не менее 91 см"})
          +rich-checkbox-buttons({name: "assistent", head: "Помощник для инвалидов", desc: "На этаже Вас встретит специалист и проводит до номера"})
    
    .wrapper-right

      .wrapper-right__dropdown-guest
        +title-element({ title: "dropdown"})
        .wrapper-center__wrap-dropdown-guest
          +dropdown-guest({name: "dpguest"})

      .wrapper-right__bullet-list
        +title-element({title: "bullet list"})
        .wrapper-right__wrap-bullet-list
          //- +bullet-list
          //- Маркированый список
          //- Имена передаваемого объекта:
          //-  text - текст пункта
          +bullet-list({text:["Нельзя с питомцами","Без вечеринок и мероприятий", "Время прибытия — после 13:00, в выезд до 12:00"]})

  .wrapper__elements
    .wrapper-left

      .wrapper-left__advantages
        //- +advantages
        //- Преимущества
        //- Имена передаваемого объекта:
        //-  img - ссылка на изображение
        //-  head - заголовок
        //-  desc - описание
        +advantages({img: "/forms-elements/__advantages/img/emoticon.svg", head: "Комфорт", desc: "Шумопоглащающие стены"})
        +advantages({img: "/forms-elements/__advantages/img/city.svg", head: "Удобство", desc: "Окно в каждой из спален"})
    .wrapper__feedback
      //- +feedback
      //- Отзыв
      //- Имена передаваемого объекта:
      //-  img - фото пользователя
      //-  user - имя пользователя
      //-  date - сколько дней прошло с момента отзыва
      //-  text - текст отзыва
      +feedback({img: "../src/forms-elements/__feedback/img/murad.jpg", user: "Мурад Сарафанов", date: "5 дней", text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей"})