.wrap
    .wrapper__elements
        .wrapper-left 
            .wrapper-left__text-field
                include \__text-field\text-field.pug
            .wrapper-left__dropdown
                include \__dropdown\__dropdown-guest/dropdown-guest.pug
            .wrapper-left__masked-text-field
                include \__masked-text-field\masked-text-field.pug
            .wrapper-left__date-dropdown
                include \__date-dropdown\date-dropdown.pug
            .wrapper-left__filter-date-dropdown
                include \__filter-date-dropdown\filter-date-dropdown.pug
            .wrapper-left__subscription-text-field
                include \__subscription-text-field\subscription-text-field.pug
        .wrapper-center 
            .wrapper-center__checkbox-buttons
                include \__checkbox-buttons\checkbox-buttons.pug
            .wrapper-center__radio-buttons
                include \__radio-buttons\radio-buttons.pug
            .wrapper-center__toggle
                include \__toggle\toggle.pug
            .wrapper-center__like-button
                include \__like-button\like-button.pug
            .wrapper-center__rate-button
                include \__rate-button\rate-button.pug
        .wrapper-right
            .wrapper-right__range-slider
                include \__range-slider\range-slider.pug 
            .wrapper-right__buttons
                include \__buttons\buttons.pug 
            .wrapper-right__pagination
                include \__pagination\pagination.pug 
    .wrapper__elements
        .wrapper-left
            .wrapper-left__dropdown-room
                include __dropdown/__dropdown-room/dropdown-room.pug
            .wrapper-left__expandable-checkbox-list
                include __expandable-checkbox-list/expandable-checkbox-list.pug
            .wrapper-left__advantages
                include __advantages/advantages.pug
        .wrapper-center 
            .wrapper-center__dropdown-guest
                include __dropdown/__dropdown-guest/dropdown-guest.pug
        .wrapper-right
            .wrapper-right__dropdown-guest
                include __dropdown/__dropdown-guest/dropdown-guest.pug