.social-btn {
  &__box {
    display: flex;
    width: 6.94rem;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    width: 1.4rem;
    height: 1.4rem;

    .--fb {}

  }


}