mixin social-btn()
  .social-btn
    .social-btn__box
      a(href="tw")
        img.social-btn__icon.--tw(src=require("../../modules/formelements/__social-btn/img/tw.svg").default)
      a(href="fb")
        img.social-btn__icon.--fb(src=require("../../modules/formelements/__social-btn/img/fb.svg").default)
      a(href="ig")
        img.social-btn__icon.--ig(src=require("../../modules/formelements/__social-btn/img/ig.svg").default)
