@import "../../formelements/__social-btn/social-btn";
@import "../../formelements/__subscription-text-field/subscription-text-field";

.footer {
  box-shadow: 0 0.62rem 1.25rem $dark-5;
  background: #fff;

  &__wrap {
    display: flex;
    margin: 0 auto;
    max-width: rem(1440);
    padding: 6.27rem 0;
    max-width: rem(1160);
    width: 100%;
    box-sizing: border-box;


    @media screen and (max-width: $desktopWidth) {
      max-width: 100%;
      justify-content: center;
      padding: 7.4rem 1rem 0;
      margin: 0 auto;
    }



  }

  &__company {
    display: flex;
    flex-direction: column;
    max-width: 18rem;
    margin-right: 0.75rem;
    width: 100%;

    @media screen and (max-width: 768px) {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  &__logo {
    margin-top: 0.12rem;

    @media screen and (max-width: 768px) {
      margin: 0 auto;
    }
  }

  &__desc {
    max-width: rem(260);
    margin-top: 1rem;

    @media screen and (max-width: 768px) {
      display: none;
    }

    p {
      line-height: rem(24);
      font-size: rem(14);
      color: $dark-75;
    }
  }

  &__list {
    display: block;
    width: 100%;

    @media screen and (max-width: 768px) {
      display: none;
    }

    ul {
      margin-top: 0.31rem;

      li {
        list-style: none;
        margin: 1.25rem 0;
        color: $dark-50;

        &:last-child {
          margin: 0;
          margin-top: 1.25rem;
        }

        & a {
          text-decoration: none;
          color: $dark-50;

          &:hover {
            color: $dark-25;
          }

          &:active {
            color: $dark-25;
          }
        }
      }
    }
  }

  &__navigation {
    max-width: rem(200);
    min-width: 5.65rem;
  }

  &__aboutAs {
    max-width: rem(200);
  }

  &__support {
    max-width: rem(200);
  }

  &__subscribe {
    max-width: rem(260);
    margin-top: 0.31rem;

    @media screen and (max-width: 768px) {
      display: none;
    }

    & p {
      margin-top: 1.15rem;
      line-height: 1.5rem;
      color: $dark-75;
    }
  }

  &__wrap-subscribe-form {
    position: relative;
    max-width: rem(260);
    margin-top: 1.17rem;
  }

  &__wrap-copyright {
    display: flex;
    justify-content: center;
    max-width: rem(1160);
    width: 100%;
    padding: 1.5rem 1rem;
    box-sizing: border-box;
    border-top: 1px solid $dark-10;
    margin: 0 auto;

    @media screen and (max-width: $desktopWidth) {
      max-width: 100%;

    }

    @media screen and (max-width: 768px) {
      padding: 1.1rem 4.5rem 7.6rem;
      border: none;
    }
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: rem(1160);
    width: 100%;


    @media screen and (max-width: 768px) {
      flex-direction: column;

      p {
        text-align: center;
      }

      .social-btn {
        margin-top: 1.35rem;
      }
    }
  }
}