include ../../formelements/__logo/logo.pug
include ../../formelements/__subscription-text-field/subscription-text-field.pug
include ../../formelements/__social-btn/social-btn.pug
mixin footer( data )
  .footer
    .footer__wrap
      .footer__company
        .footer__logo 
          +logo({})
        .footer__desc Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .footer__navigation
        ul.footer__list
          span.footer__title НАВИГАЦИЯ
          each name in (['О нас', 'Новости', 'Служба поддержки', 'Услуги'])
            li.footer__item
              a(href=name)=name
      .footer__aboutAs
        ul.footer__list 
          span.footer__title О НАС
          each name in (['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'])
            li.footer__item
              a(href=name)=name  
      .footer__support
        ul.footer__list
          span.footer__title СЛУЖБА ПОДДЕРЖКИ
          each name in (['Соглашения', 'Сообщества', 'Связь с нами'])
            li.footer__item
              a(href=name)=name  
      .footer__subscribe
        span.footer__title ПОДПИСКА
        p Получайте специальные предложения и новости сервиса
        .footer__wrap-subscribe-form
          +subscription-text-field({placeholder: "Your email address", name: "subscription"})
    .footer__wrap-copyright
      .footer__copyright
        .footer__copyrightText
          p Copyright © 2018 Toxin отель. Все права защищены.
        .footer__social-btn
          +social-btn({})
    .footer-mobile__wrap
      .footer-mobile__wrap-logo
        +logo({})
      p.footer-mobile__desc Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .footer-mobile__wrap-social-btn  
        +social-btn({})