include ../../formelements/__logo/logo.pug
include ../../formelements/__subscription-text-field/subscription-text-field.pug
include ../../formelements/__social-btn/social-btn.pug
mixin footer( data )
  .footer
    .footer__wrap
      .footer__company
        .footer__logo 
          +logo({})
        .footer__desc 
          p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .footer__list.footer__navigation
        ul
          h3 НАВИГАЦИЯ
          each name in (['О нас', 'Новости', 'Служба поддержки', 'Услуги'])
            li
              a(href=name)=name
      .footer__list.footer__aboutAs
        ul
          h3 О НАС
          each name in (['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'])
            li
              a(href=name)=name  
      .footer__list.footer__support
        ul
          h3 СЛУЖБА ПОДДЕРЖКИ
          each name in (['Соглашения', 'Сообщества', 'Связь с нами'])
            li
              a(href=name)=name  
      .footer__list.footer__subscribe
        h3 ПОДПИСКА
        p Получайте специальные предложения и новости сервиса
        .footer__wrap-subscribe-form
          +subscription-text-field({placeholder: "Email", name: "subscription"})
    .footer__wrap-copyright
      .footer__copyright
        p Copyright © 2018 Toxin отель. Все права защищены.
        +social-btn({})
