/* CSS radio-buttons */
.radio-buttons{
  &__title{
    font-family: Montserrat, 'Open sans', sans-serif;
    font-weight: 700;  
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    padding-top: 3px;
    letter-spacing  : 0px;
  }
  &__wrap-radio{
    display: flex;
    align-items: flex-start;
    padding:15px 0px 1px;
    float:left;
    min-width:36.3%;
    color:$dark-50;
  }
  &__input{
    display:none;
  }
  &__label{
    display: flex;
    align-items: center;
    line-height: 18px;
    cursor:pointer;
  }
  &__label:before{
    content: "";
    border: 1px solid $dark-25;
    border-radius:9px;
    width: 18px;
    height: 18px;
    margin-right: 9px;
    letter-spacing: 0.2px;
  }
  &__input:checked+&__label:before{
    content: url("data:image/svg+xml,%0A%3Csvg width='18' height='18' viewBox='-3 -3 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='12' rx='6' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='6' y1='0' x2='6' y2='12' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    border: 1px solid $purple;
  }
  &__label--color-75{
    color:$dark-75;
  }
}
/* End CSS radio-buttons */
