.radio-buttons
  .radio-buttons__title radio buttons
  .radio-buttons__wrap-radio 
    input.radio-buttons__input.radio-buttons__label--color-75(type='radio' id='radio-one' name='sex' checked)
    label.radio-buttons__label(for='radio-one' data-sex='men') Мужчина
  .radio-buttons__wrap-radio 
    input.radio-buttons__input(type='radio' id='radio-two' name='sex')
    label.radio-buttons__label(for='radio-two' data-sex='women') Женщина