.booking-room{
  &__wrap{
    display: flex;
    flex-direction: column;
    max-width: 23.42rem;
    border-radius: 4px;
    background: #ffffff;
    padding: 2.36rem 1.76rem 1.81rem;
    box-sizing: border-box;
    box-shadow: 0px 0px 1.56rem $dark-25;
  }
  &__wrap-number-price{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__number-room{
    font-family: $fontO;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.3px;
    &:before{
      content: "№";
      margin-right: 0.3125rem;
      font-size: 0.8rem;
    }
    &:after{
      content:"люкс";
      font-family: $fontM;
      font-size: 0.8rem;
      margin-left: 0.3125rem;
      letter-spacing: 1.2px;
      color: $purple;
    }
  }
  &__div{
    display: inline-flex;
    align-items: flex-end;
    padding-bottom: 1px;
  }
  &__cost-per-day{
    color: $dark-50;
    font-weight: bold;
    font-size: 0.875rem;
    &:after{
      content: "c";
      font-family: "rouble";
      margin-left: -0.1875rem;
      margin-right: 0.25rem;
    }
  }
  &__cost-day{
    color: $dark-50;
    font-size: 0.75rem;
    margin-right: 0.125rem;
  }
  &__wrap-date-form{
   margin-top: 1.36rem;
  }
  &__wrap-guest-form{
    margin-top: 1.125rem;
  }
  &__wrap-service-cost{

  }
  &__inner-service{
    display:block;
    // justify-content:space-between;
    letter-spacing: 0px;
    padding-bottom: 0.85rem;
    line-height: 1.2rem;
    &:after{
      content: "";
      display: table;
      clear: both;
    }
  }
  &__box-service{
    display:block;
    max-width:69.6%;
    box-sizing: border-box;
    float:left;
    
  }
  &__service{
    line-height: 1.12rem;
    &-price{
      &:after{
        content: "a";
        font-family: "rouble";
        margin-right: 0.25rem;
      }
    }
    &-days{
    }
  }
  &__service-cost{
    float: right;
    &:after{
      content: "a";
      font-family: "rouble";
      margin-right: 1px;
      margin-left: -1px;
    }
  }
  &__icon-desc{
    display:table;
    float:left;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-family: $fontM;
    font-style:normal;
    line-height: 1.3rem;
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid $dark-25;
    text-align:center;
    color: $dark-25;
    cursor:pointer;
  }
  &__wrap-total-cost{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: $fontO;
    font-size: 1.1875rem;
    line-height: 1.5rem;
    font-weight: bold;
    margin-top: 0.875rem;
    letter-spacing: -0.1px;
    margin-left:1px;
    &:after{
      content: "";
      display: table;
      clear: both;
    }
  }
  &__total-text{
    float:left;
  }
  &__line{
    display: inline-block;
    min-width: 56%;
    border-bottom: 1px dotted $dark-50;
    margin-bottom: 0.3125rem;
  }
  &__total-cost{
    float: right;
    &:after{
      content: "a";
      font-family: "rouble";
    }
  }
  &__wrap-btn-booking{
    margin-top: 1.25rem;
  }
}