include ../__title-element/title-element.pug
mixin range-slider( data )
  .range-slider__wrap
    .title-element
      h3= data.title
      span.title-element__subtitle.title-element__subtitle.js__range-value 5 000<span class="ruble"></span> - 10 000<span class="ruble"></span>
    .range-slider.js__range-slider
