@import "../../forms-elements/__social-btn/social-btn";
.footer{
    box-shadow: 0 0.62rem 1.25rem $dark-5;
    background: #ffffff;
  &__wrap{
    width: 100%;
    display:flex;
    padding: 6.06rem 8.68rem 4.87rem;
    box-sizing: border-box;
    align-items: flex-start;
  }
  &__company{
    width: 18.75rem / $width-content * 100%;
  }
  &__logo{
    margin-top: 0.12rem;
  }
  &__desc{
    line-height: 1.5rem;
    font-size: 0.87rem;
    padding-right: 2.5rem;
    margin-top: 0.8rem;
    letter-spacing: -0.13px;
  }
  &__navigation{
    width: 12.87rem / $width-content * 100%;
  }
  &__list{
    margin-top: 0.31rem;
    padding-left: 0.5rem;
  }
  &__item{
    list-style: none;
    margin: 1.25rem 0;
    color: $dark-50;
    & a{
      text-decoration:none;
      color:$dark-50;
      &:hover{
        color:$dark-25;
      }
      &:active{
        color:$dark-25;
      }
    }
  }
  &__title{
    font-size:0.75rem;
    font-weight: bolder;
    color:$dark-100;
    letter-spacing: -0.4px;
  }
  &__aboutAs{
    width: 12.87rem / $width-content * 100%;
  }
  &__support{
    width: 12.87rem / $width-content * 100%;
  }
  &__subscribe{
    width: 16.87rem / $width-content * 100%;
    box-sizing: border-box;
    padding-left: 0.19rem;
    padding-top: 0.31rem;
    & p{
      margin-top: 1rem;
      line-height: 1.5rem;
      letter-spacing: -0.18px;
    }
  }
  &__wrap-subscribe-form{
    position: relative;
    width: 16.18rem;
    margin-top: 1.18rem;
  }
  &__wrap-copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 8.68rem 0.68rem;
    border-top: 1px solid $dark-25;
    letter-spacing: -0.15px;
  }
}