.checkbox-buttons{  
  &__title{
    font-family: Montserrat, 'Open sans', sans-serif;
    font-weight: 700;  
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    padding: 3px 0px 6px;
    letter-spacing: 0px;
  }
  &__wrap-checkbox{
    width:73%;
    position: relative;
    display: flex;
    align-items: flex-start;
    padding:10px 1px 0px;
  }
  &__input{
    display:none;
  }
  &__label{
    display:flex;
    letter-spacing: 0px;
    color:$dark-50;
    line-height: 21px;
    cursor:pointer;
  }
  &__input + &__label:before {
    content: "";
    display: inline-flex;
    align-items: flex-start;
    flex:none;
    border: 1px solid $dark-25;
    border-radius:4px;
    width: 18px;
    height: 18px;
    margin-right: 9px;
    letter-spacing: 0.2px;
  }
  &__input:checked + &__label:before {
    content: url("data:image/svg+xml,%0A%3Csvg width='18' height='18' viewBox='0 -3 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.46439 4.40768L5.70703 8.65032L4.29282 10.0645L0.0501771 5.82189L1.46439 4.40768Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M8.53546 2.99347L9.94967 4.40768L4.29282 10.0645L2.8786 8.65032L8.53546 2.99347Z' fill='url(%23paint1_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='7.82835' y1='2.28636' x2='2.1715' y2='7.94321' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='7.82835' y1='2.28636' x2='2.1715' y2='7.94321' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    display: inline-flex;
    text-align:center;
    padding: 0px;
    border: 1px solid $dark-25;
    border-radius: 4px;
    width: 18px;
    height: 18px;
    margin-right: 9px;
    letter-spacing: 0.2px;
  }
}


