.checkbox-buttons
  .checkbox-buttons__title checkbox buttons
  .checkbox-buttons__wrap-checkbox
    input.checkbox-buttons__input(type='checkbox' id='checkbox-one')
    label.checkbox-buttons__label(for='checkbox-one') Можно курить
  .checkbox-buttons__wrap-checkbox
    input.checkbox-buttons__input(type='checkbox' id='checkbox-two' checked)
    label.checkbox-buttons__label(for='checkbox-two') Можно с питомцами
  .checkbox-buttons__wrap-checkbox
    input.checkbox-buttons__input(type='checkbox' id='checkbox-three' checked)
    label.checkbox-buttons__label(for='checkbox-three') Можно пригласить гостей (до 10 человек)
