/* start css text-field */
.text-field {
  &__input {
    display: block;
    min-width: 12rem;
    width: 100%;
    font-family: $fontM;
    font-size: 0.875rem;
    padding: 0.56rem 0.875rem 0.5rem;
    border-radius: 4px;
    border: 1px solid $dark-25;
    letter-spacing: rem(-0.2);

    &::-webkit-input-placeholder {
      color: $dark-25;
    }

    &:hover,
    &:focus {
      color: $dark-75;
      border-color: $dark-75;
      outline: none;
    }

    &--hover {
      color: $dark-75;
      border-color: $dark-75;
    }
  }
}

/* End css text-field */