.dropdown-room {
  min-width: 17rem;

  &__form {
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    transition: border 0.2s;

    input {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      cursor: pointer;
      letter-spacing: 0;
    }
  }

  &__icon {
    position: absolute;
    top: 1.25rem;
    right: 1.15rem;
    z-index: 115;
  }

  &__overlay {
    visibility: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 115;

    &--open {
      visibility: visible;
    }
  }

  &__form-expanded {
    display: block;
    min-width: 100%;
    height: rem(119);
    box-sizing: border-box;
    position: absolute;
    top: 2.9rem;
    z-index: 116;
    overflow: hidden;
    opacity: 1;
    border: 1px solid $dark-50;
    border-radius: 0 0 0.25rem 0.25rem;

    color: $dark-100;
    background: #ffffff;
    outline: none;
    transition: height 0.5s, opacity 0.3s;

    &--hide {
      height: 0;
      opacity: 0;
    }
  }

  &__inner {
    padding: 0.12rem 0.25rem 0 0.25rem;

    box-sizing: border-box;

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  &__item-room {
    float: left;
    padding-top: 0.68rem;
    margin-left: 0.625rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
    letter-spacing: -0.05px;
    color: $dark-100;
  }

  &__item-control {
    display: flex;
    align-items: flex-start;
    float: right;
    padding-top: 0.125rem;
    margin-right: 0.0625rem;
  }

  &__btn {
    height: 1.875rem;
    width: 1.875rem;
    border: 1px solid $dark-25;
    border-radius: 2rem;
    background: none;
    cursor: pointer;
    color: $dark-50;
    margin-top: 0.125rem;
    margin-bottom: 0.0625rem;
    outline: none;
    transition: background 0.2s;

    &:hover {
      background: $dark-5;
    }
  }

  &__btn--deactivate {
    border-color: $dark-10;
    color: $dark-10;
  }

  &__number {
    display: inline-flex;
    justify-content: center;
    box-sizing: border-box;
    width: 2rem;
    margin-top: 0.51rem;
    font-size: 0.75rem;
    font-weight: bold;
  }
}