@import '__btn--blue/btn--blue';
@import '__btn--white/btn--white';
@import '__icon-link/icon-link';
@import '__btn-with-icon/btn-with-icon';


.buttons{
  &__clearfix:after{
    content:'';
    display:table;
    clear: both;
  }
  &__title{
    font-family: Montserrat, 'Open sans', sans-serif;
    font-weight: 700;  
    font-size: 12px;
    float: left;
    text-transform: uppercase;
    padding-top: 3px;
    letter-spacing: 0px;
  }
  &__wrap-btn{
    width:216px;
    padding: 14px 0px 15px 1px;
    display:flex;
    justify-content: space-between;
  }
  &__wrap-icon-link{
    width:152px;
    padding: 14px 0px 15px 0px;
    margin-left:-4px;
    display:flex;
    justify-content: space-between;
  }
  &__wrap-btn-with-icon{
    width:318px;
    padding: 14px 0px 15px 0px;
    
  }
  
}