.buttons.buttons__clearfix
  .buttons__title buttons
    .buttons__wrap-btn
      include __btn--blue/btn--blue.pug
    .buttons__wrap-btn
      include __btn--white/btn--white.pug
    .buttons__wrap-icon-link
      include __icon-link/icon-link.pug
    .buttons__wrap-btn-with-icon
      include __btn-with-icon/btn-with-icon.pug