/* start CSS- checkbox-list */
.checkbox {
  &-list{
    &__wrap{
      display:flex;
      justify-content: space-between;
      padding-right: 11px;
      cursor: pointer;
      position:relative;
    }
    &__icon{
      background: url("data:image/svg+xml,%0A%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z' fill='%231F2041' fill-opacity='0.5'/%3E%3C/svg%3E%0A") no-repeat 50% 50%;
      width: 19px;
      height: 22px;
      transform: rotate(0deg);
      transition: transform 0.5s;
      &--rotate{
      transform: rotate(-180deg);
      width:20px;
      }
    }
    &__overlay{
      visibility: hidden;
      position:fixed; 
      left: 0; 
      right: 0; 
      top: 0; 
      bottom: 0; 
      z-index: 119; 
      &--open{
        visibility: visible; 
      }
    }
    &__list{
      width:100%;
      margin-top:10px;
      padding-top: 12px;
      height: 0px;
      overflow: hidden;
      transition: height 0.5s;
      position:absolute;
      top: 13px;
      right:0px;
      z-index: 123; 
      background: #ffffff;
      &--visible{
        height:240px;
      }
    }
  }
}
/* End CSS checkbox-list */


