.buttons__icon-link {
  display: flex;
  text-transform: uppercase;
  font-family: $fontM;
  font-size: 0.75rem;
  font-weight: bold;
  background: #ffffff;
  padding: 0;

  color: $purple;
  cursor: pointer;
  outline: none;
  border: none;
  pointer-events: auto;

  text-transform: uppercase;
  font-family: $fontM;
  font-size: 0.75rem;
  font-weight: bold;
  color: $dark-50;
  &:hover {
    color: $purple;
  }

  &--hover {
    color: $purple;
  }
}
