<!-- Текстовое поле filter-date-dropdown -->
.filter-date-dropdown    
    .filter-date-dropdown__title FILTER DATE DROPDOWN
    .filter-date-dropdown__form
        input.filter-date-dropdown__input(type='text' value='19 авг - 23 авг')
        i.filter-date-dropdown__input-icon
<!-- Конец Текстовое поле filter-date-dropdown -->