<!-- Текстовое поле filter-date-dropdown -->
mixin filter-date-dropdown( data )
  .filter-date-dropdown
    input.filter-date-dropdown__input(type="text" value="19 авг - 23 авг" name=data.name)
    i.filter-date-dropdown__input-icon
<!-- Конец Текстовое поле filter-date-dropdown -->