-
  var checkboxListArr = [
    {value: "breakfast", text: "Завтрак", checked: false},
    {value: "desk", text: "Письменный стол", checked: true},
    {value: "feedingСhair", text: "Стул для кормления", checked: true},
    {value: "cot", text: "Кроватка", checked: true},
    {value: "tv", text: "Телевизор", checked: false},
    {value: "shampoo", text: "Шампунь", checked: false},
    ]

include ../../modules/formelements/__logo-no-text/logo-no-text.pug
include ../../modules/formelements/__title-element\title-element.pug
include ../../modules/formelements/__like-button\like-button.pug
include ../../modules/formelements/__dropdown\__dropdown-guest\dropdown-guest.pug
include ../../modules/formelements/__text-field\text-field.pug
include ../../modules/formelements/__masked-text-field\masked-text-field.pug
include ../../modules/formelements/__date-dropdown\date-dropdown.pug
include ../../modules/formelements/__filter-date-dropdown\filter-date-dropdown.pug
include ../../modules/formelements/__subscription-text-field\subscription-text-field.pug
include ../../modules/formelements/__checkbox-buttons\checkbox-buttons.pug
include ../../modules/formelements/__radio-buttons\radio-buttons.pug
include ../../modules/formelements/__toggle\toggle.pug
include ../../modules/formelements/__rate-button\rate-button.pug
include ../../modules/formelements/__range-slider\range-slider.pug 
include ../../modules/formelements/__buttons\buttons.pug 
include ../../modules/formelements/__pagination\pagination.pug 
include ../../modules/formelements/__dropdown/__dropdown-room/dropdown-room.pug
include ../../modules/formelements/__expandable-checkbox-list/expandable-checkbox-list.pug
include ../../modules/formelements/__advantages/advantages.pug
include ../../modules/formelements/__rich-checkbox-btn/rich-checkbox-btn.pug
include ../../modules/formelements/__bullet-list/bullet-list.pug
include ../../modules/formelements/__feedback/feedback.pug

doctype html
html
  head
    title FormElements
    meta(name = "viewport" content = "width=device-width, initial-scale = 1")
  body
    .wrapper
      +logo-no-text()
      .container
        .column.column-left
          .column-left__text-field
            +text-field({placeholder: "Email",title: "text field", subtitle: "default"})

          .column-left__text-field
            +text-field({value: "This is pretty awesome", hover: true,title: "text field", subtitle: "hover /focus"})

          .column-left__dropdown
              +dropdown-guest({name: "guest-form", title: "dropdown", subtitle: "default"})

          .column-left__masked-text-field
            +masked-text-field({placeholder: "ДД.ММ.ГГГГ", title: "masked text field", subtitle: "default"})

          .column-left__date-dropdown
            +date-dropdown({titleIn: "date dropdown", titleOut: "date dropdown", placeholderIn: "ДД.ММ.ГГГГ", placeholderOut: "19.08.2019"})
          
          .column-left__filter-date-dropdown.--big-padding-right
            +filter-date-dropdown({name: "date-in-out", title: "filter date dropdown"})

          .column-left__subscription-text-field.--big-padding-right
            +title-element({title: "subscription text field"})
            +subscription-text-field({placeholder: "Email", name: ""})

        .column.column-center
          .column-center__checkbox-buttons
            +title-element({title: "checkbox buttons"})
            .column-center__checkbox-buttons-wrap
              +checkbox-item({name: "checkbox", checked:false, text: "Можно курить", value: "smoke"})
              +checkbox-item({name: "checkbox", checked:true, text: "Можно с питомцами", value: "animal"})
              +checkbox-item({name: "checkbox", checked:true, text: "Можно пригласить гостей (до 10 человек)", value: "guest"})
          .column-center__radio-buttons
            +title-element({title: "radio buttons"})
            .column-center__radio-buttons-wrap
              +radio-buttons({name: "female", text: "Мужчина", value: "men"})
              +radio-buttons({name: "female", text: "Женщина", value: "women",  checked: true})

          .column-center__toggle
            +title-element({title: "toggle"})
            .column-center__toggle-wrap
              +toggle({name: "toggle", checked: true, text: "Получать спецпредложения"})
            .column-center__toggle-wrap
              +toggle({name: "toggle", checked: false, text: "Получать спецпредложения"})

          .column-center__like-button
            +title-element({title: "like button"})
            .column-center__wrap-like-button
              +like-button({num:"2", userName: "likeBtn"})  
              +like-button({num:"12", userName: "likeBtn", checked: true})

          .column-center__rate-button
            +title-element({title: "rate button"})
            .column-center__rate-button-wrap
              +rate-button({name: "rating", numroom: 800, rate: 4})
              +rate-button({name: "rating1", numroom: 801,rate: 5})

        .column.column-right
          .column-right__range-slider
            +range-slider({title: "range slider", name: "slider", valueMin: "", valueMax: ""})

          .column-right__buttons
            +title-element({title: "buttons"})
            .column-right__wrap-btn
              //- +button-blue - кнопка с синим фоном
              //- +button-white - кнопка с белым фоном 
              //- +button-link - кнопка ссылка, без границы
              //- +button-with-icon - кнопка со стрелкой вправо
              //- Имена передаваемого объекта:
              //-  name - имя кнопки
              //-  value - value
              //-  text - Текст, отображаемый на кнопке
              //-  hover:true - добавляет стиль, имитирующий выделение кнопки
              .column-right__inner-btn
                +btn-blue({name: "btn", value: "btn", text: "Click Me"})
              .column-right__inner-btn
                +btn-blue({name: "btn", value: "btn", text: "Click Me", hover:true})
              .column-right__inner-btn
                +btn-white({name: "btn", value: "btn", text: "Click Me"})
              .column-right__inner-btn
                +btn-white({name: "btn", value: "btn", text: "Click Me", hover:true})
            .column-right__inner-btn-link
              +btn-link({name: "btn", value: "btn", text: "Click Me"})
              +btn-link({name: "btn", value: "btn", text: "Click Me", hover:true})
            .column-right__wrap-btn-with-icon
              +btn-with-icon({name:"btn", value: "btn", text: "Перейти к оплате"})

          .column-right__pagination
            +title-element({title: "pagination"})
            .column-right__wrap-pagination
              //- +pagination
              //- Постраничная навигация (нумерация страниц)
              //- Имена передаваемого объекта:
              //-  name - имя кнопок
              //-  value - передаваемые значения 
              +pagination({name: "btn"})

      .container
        .column.column-left
          .column-left__dropdown-room.--big-padding-right 
            //- +dropdown-room
            //- форма выбора комнаты
            //- Имена передаваемого объекта:
            //-  name - имя поля данных
            //-  open:true - разварачивает форму с кнопками
            //- Значения data-: (не пердаются в mixin)
            //-  bedroom - количество спален
            //-  bed - количество кроватей
            //-  bathroom - количество ванных комнат
            .column-left__dropdown-room-inner
              +dropdown-room({name:"select-room", open: false, title: "dropdown", subtitle: "DEFAULT", marginTop:true})
            .column-left__dropdown-room-inner
              +dropdown-room({name:"select-room", open: true, title: "dropdown", subtitle: "EXPANDED", marginTop:true})
          .column-left__expandable-checkbox-list.--big-padding-right
            .column-left__wrap-checkbox-list
              +expandable-checkbox-list({titleList: "expandable checkbox list", nameList: "conditions", items: checkboxListArr})
            .column-left__wrap-checkbox-list
              +expandable-checkbox-list({titleList: "expandable checkbox list", nameList: "conditions", items: checkboxListArr})

        .column.column-center 
          .column-center__dropdown-guest
            +dropdown-guest({name: "dpguest", title: "dropdown"})

          .column-center__rich-checkbox-btn
            +title-element({title: "rich checkbox buttons"})
            .column-center__wrap-checkbox
              +rich-checkbox-buttons({name: "wide-corridor", head: "Широкий коридор", desc: "Ширина коридоров в номере не менее 91 см"})
              +rich-checkbox-buttons({name: "assistent", head: "Помощник для инвалидов", desc: "На 1 этаже Вас встретит специалист и проводит до номера"})
        
        .column.column-right

          .column-right__dropdown-guest
            +dropdown-guest({name: "dpguest", title: "dropdown"})

          .column-right__bullet-list
            +title-element({title: "bullet list"})
            .column-right__wrap-bullet-list
              +bullet-list({text:["Нельзя с питомцами","Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"]})

      .container.--margin-top
        .column.column-left
          .column-left__advantages
            +advantages({img: "/assets/images/emoticon.svg", head: "Комфорт", desc: "Шумопоглащающие стены"})
            +advantages({img: "/assets/images/city.svg", head: "Удобство", desc: "Окно в каждой из спален"})
        .column__feedback
          //- +feedback
          //- Отзыв
          //- Имена передаваемого объекта:
          //-  img - фото пользователя
          //-  user - имя пользователя
          //-  date - сколько дней прошло с момента отзыва
          //-  text - текст отзыва
          +feedback({img: "/assets/images/murad.jpg", user: "Мурад Сарафанов", date: "5 дней назад", text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей"})