
include ../../modules/header/__header/header.pug
include ../../modules/footer/__footer/footer.pug
include ../../modules/formelements/__logo-no-text/logo-no-text.pug

doctype html
html
  head
    title Header and Footer
    meta(name = "viewport" content = "width=device-width, initial-scale = 1")
  body
    .wrap-hf
      +logo-no-text()
      .overlay.js__overlay
      .wrap-hf__header
        +header({auth: true})
      .wrap-hf__header-user-block
        +header({auth: false})
      .wrap-hf__footer
        +footer({})
      .wrap-hf__footer.--mobile
        +footer({})
