<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Task from FSD
  body
  .wrapper
    .container
      h1 Hotel TOXIN
      h3 UI kit
      ul
        li
          a(href='./colorstypes.html')
            span Colors &amp; Type
        li
          a(href='./formelements.html')
            span Form Elements
        li
          a(href='./cards.html')
            span Cards
        li
          a(href='./hf.html')
            span Headers &amp; Footers
      h3 Website Pages
      ul
        li
          a(href='./lp.html')
            span Landing Page
        li
          a(href='./searchroom.html')
            span Search room
        li
          a(href='./roomdetails.html')
            span Room details
