/* CSS toggle */
.toggle {

  &__label {
    display: flex;
    align-items: center;
    position: relative;
    min-width: 17rem;
    cursor: pointer;

    span {
      font-size: rem(14);
    }

    input {
      display: none;
    }

    span {
      line-height: rem(24);
      color: $dark-50;
      letter-spacing: 0.06px;
    }
  }

  &__icon:before {
    content: '';
    display: flex;
    align-content: center;
    width: rem(40);
    height: rem(20);
    border-radius: rem(10);
    transition: .2s;
    border: 1px solid;
    border-color: $dark-25;
    margin-right: rem(10);
    transition: border 0.3s;
  }

  &__icon:after {
    content: '';
    display: flex;
    position: absolute;
    top: 0.4rem;
    left: 0.25rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 0.38rem;
    background: $dark-25;
    transition: left .2s;
  }

  &__label>input:checked+&__icon:before {
    border-color: $purple;
  }

  &__label>input:checked+&__icon:after {
    left: 1.5rem;
    background: $purple;
  }
}

/* End CSS toggle */