/* CSS like-button */
.like-button {
  &__input {
    display: none;
  }

  &__label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    width: rem(40);
    height: rem(20);

    input {
      display: none;
    }
  }

  &__span {
    display: flex;
    justify-content: center;
    line-height: 0.75rem;
    font-size: 0.625rem;
    text-align: center;
    width: 100%;
  }

  &__wrap-btn {
    display: inline-flex;
    align-items: center;
    width: 2.5rem;
    border: 1px solid $dark-25;
    border-radius: 0.5625rem;
    height: 1.125rem;
  }

  &__icon:before {
    content: " ";
    background: url("images/like-icon.png") -2.25rem -0.5rem;
    width: 0.812rem;
    height: 0.812rem;
    float: left;
    cursor: pointer;
  }

  &__label > input:checked + &__wrap-btn > &__icon:before {
    background: url("images/like-icon.png") -0.375rem -0.5rem;
  }

  &__label > input:checked + &__wrap-btn {
    border: 1px solid $purple;
  }
}

/* End CSS like-button */
