@import "./libs";
@import "./mixins";
@import "./fonts";
@import "./reset";
// Font
$mainFont : 'Montserrat',
Helvetica,
Arial,
sans-serif;

// Size
$mainFontSize : 16px;
$mainFontWeight : 400;
$mainLineHeight : 1.4;

$fullHDWidth : 1920px;
$desktopWidth : 1280px;
$smDesktopWidth : 980px;
$tableWidth : 768px;
$phoneWidth : 480px;
$smPhoneWidth : 320px;

//color
$color: #1F2041;
$purple: #BC9CFF;
$green: #6fcf97;
$dark-100: $color;
$dark-75: rgba(31, 32, 65, 0.75);
$dark-50: rgba(31, 32, 65, 0.50);
$dark-25: rgba(31, 32, 65, 0.25);
$dark-10: rgba(31, 32, 65, 0.10);
$dark-5: rgba(31, 32, 65, 0.05);
$btn-bg: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); // цвет фона кнопок


$height-header: 4.37rem; //высота шапки с меню
// $width-content: ($fullHDWidth- 140px)/$fullHDWidth*100%; // ширина блока с контентом с учётом отступов по 140px по краям
$br: 1px solid #666; // граница для тестов

$fontM: Montserrat,
'Open Sans',
sans-serif;
$fontO: Quicksand,
'Open Sans',
sans-serif;
$fontOr: 'Quicksand-Regular',
'Open Sans',
sans-serif;
$ruble: 'rouble';

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  font-size: 16px;
  /* Устанавливает желаемый относительный размер шрифта */
  -webkit-text-size-adjust: 100%;
  width: 100%;

  @media screen and (max-width: $desktopWidth) {
    font-size: 15px;
  }

  @media screen and (max-width: $tableWidth) {
    font-size: 14px;
  }

}


body {
  font-size: rem(14);
  font-family: $fontM;
  font-style: normal;
  font-weight: $mainFontWeight;
  background-color: #E5E5E5;
}

h1 {
  font-family: $fontO;
  font-size: 1.5rem;
  line-height: rem(30);
  font-weight: bold;
  margin: 0;
  padding: 0;
  letter-spacing: rem(0.2);
}

h2 {
  font-family: $fontO;
  font-size: 1.18rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  letter-spacing: 0.015rem;
}

h3 {
  font-family: $fontM;
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 0.00187rem;
}

p {
  font-family: $fontM;
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
}

input {
  min-width: 12rem;
  width: 100%;
  font-family: $fontM;
  font-size: 0.875rem;
  line-height: 1.8;
  padding: 0.5rem 0.875rem;
  border-radius: 4px;
  border: 1px solid $dark-25;
  margin: 0.25rem 0;
  letter-spacing: rem(-0.2);
  color: $dark-75;
  transition: border 0.4s ease;


  &:hover,
  &:focus {
    border-color: $dark-50;
  }
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ruble {

  &:after {
    content: "v";
    font-family: $ruble;
    text-transform: none;
    font-weight: normal;
  }
}

.icon-arrow {
  display: flex;
  position: absolute;
  color: $dark-25;
  width: 0.51rem;
  height: 0.51rem;
  border: 2px solid $dark-50;
  border-width: 0 0 rem(2) rem(2);
  transform: rotate(-45deg);
  cursor: pointer;
  pointer-events: none;

  .--rotate {
    transform: rotate(-225deg);
    top: 0.4rem;
  }
}

.icon-arrow-right {
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  background: url("data:image/svg+xml,%0A%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='9' y1='-13' x2='9' y2='31' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat;
  background-size: contain;
  position: absolute;
  cursor: pointer;
}