mixin logo-no-text()
  .logo-no-text 
    svg(width="48" height="48" viewBox="0 0 48 48" fill="none")
      //- path(d="M24 48 C10.7647 48 0 37.2353 0 24ZM24 2.82353C12.3176 2.82353 2.82353 12.3176 2.82353 24C2.82353 35.6824 12.3176 45.1765 24 45.1765C35.6824 45.1765 45.1765 35.6824 45.1765 24C45.1765 12.3176 35.6824 2.82353 24 2.82353Z" fill="#1F2041" fill-opacity="0.25")
      circle(cx="24" cy="24" r="22.5" stroke="rgba(31, 32, 65, 0.25)" stroke-width="3")
      path(d="M11 20 Q 24 20 24 32" stroke="rgba(31, 32, 65, 0.25)" stroke-width="3")
      path(d="M26 24 Q 30 20 36 19" stroke="rgba(31, 32, 65, 0.25)" stroke-width="3")
      