mixin btn-with-icon( data )
  if data.hover
    button.button.--blue.--button-hover(value=data.value name=data.name)= data.text
      i.button__icon
  else  
    button.button.--blue(value=data.value name=data.name)= data.text
      i.button__icon