include ../../formelements/__social-btn/social-btn.pug
include ../../formelements/__logo/logo.pug

mixin footer-mobile ()
  .footer-mobile  
    .footer-mobile__wrapper
      .footer-mobile__wrap-logo
        +logo({})
      p.footer-mobile__desc Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
      .footer-mobile__wrap-social-btn  
        +social-btn({})