.date-dropdown {
    &__wrap-date-picker {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        min-width: 17rem;
        width: 100%;
        position: relative;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 47%;
        width: 100%;

        input {
            cursor: pointer;
            min-width: 7rem;
        }
    }

    &__date-icon {
        top: 2.35rem;
        right: 1.12rem;
    }
}