<!-- 2 текстовых поля выбора даты заезда и выезда -->
mixin date-dropdown( data )
  .date-dropdown
    .date-dropdown__wrap-date-picker
      .date-dropdown__inner
        h3= data.titleIn 
        input.date-dropdown__in-day.js__datePicker(type="text" value="" name=data.nameIn placeholder= data.placeholderIn  data-position="bottom left")
        i.date-dropdown__date-icon.icon-arrow
      .date-dropdown__inner
        h3= data.titleOut
        input.date-dropdown__out-day.js__datePicker(type="text" value="" name=data.nameOut placeholder= data.placeholderOut data-position="bottom right")
        i.date-dropdown__date-icon.icon-arrow
<!-- Конец 2 текстовых поля выбора даты заезда и выезда -->