.color-item {
  &__wrap {
    width: 20rem;
    display: flex;
    margin-bottom: 1.225rem;
  }

  &__color-block {
    width: 4.37rem;
    height: 4.37rem;
    border-radius: 0.4rem;
  }

  &__desc-box {
    display: flex;
    flex-direction: column;
    margin-left: 2.54rem;
    padding-top: 0.56rem;
  }

  &__desc {
    font-family: $fontOr;
    font-size: rem(19);
    margin-top: 0.32rem;
  }
}