.rate-button
    .rate-button__title rate button
    .rate-button__wrap-star 
      input.rate-button__input-star(type='radio' id='star5' name='rating' value='5')
      label.rate-button__label-star(for='star5')
      input.rate-button__input-star(type='radio' id='star4' name='rating' value='4' checked)
      label.rate-button__label-star(for='star4')
      input.rate-button__input-star(type='radio' id='star3' name='rating' value='3')
      label.rate-button__label-star(for='star3')
      input.rate-button__input-star(type='radio' id='star2' name='rating' value='2')
      label.rate-button__label-star(for='star2')
      input.rate-button__input-star(type='radio' id='star1' name='rating' value='1')
      label.rate-button__label-star(for='star1' )
    .rate-button__wrap-star 
      input.rate-button__input-star(type='radio' id='star-5' name='rating1' value='5' checked)
      label.rate-button__label-star(for='star-5')
      input.rate-button__input-star(type='radio' id='star-4' name='rating1' value='4')
      label.rate-button__label-star(for='star-4')
      input.rate-button__input-star(type='radio' id='star-3' name='rating1' value='3')
      label.rate-button__label-star(for='star-3')
      input.rate-button__input-star(type='radio' id='star-2' name='rating1' value='2')
      label.rate-button__label-star(for='star-2')
      input.rate-button__input-star(type='radio' id='star-1' name='rating1' value='1')
      label.rate-button__label-star(for='star-1' )
