@import "../../formelements/__masked-text-field/masked-text-field";
@import "../../formelements/__toggle/toggle";
@import "../../formelements/__buttons/buttons";

.registration-form {
  &__wrap {
    flex-direction: column;
    max-width: rem(380);
    min-width: 21rem;
    width: 100%;
    padding: 2.39rem rem(30) rem(30);
    border-radius: 4px;
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 0 1.56rem $dark-25;

    h1 {
      letter-spacing: 0;
    }

    &-name {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 6.65rem;
      margin-top: 0.93rem;
    }

    &-select-gender {
      display: flex;
      justify-content: space-between;
      width: 13.75rem;
      margin-top: 0.24rem;
    }

    &-birthday {
      margin-top: 0.78rem;
    }

    &-authform {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 7.7rem;
      margin-top: 0.85rem;
    }

    &-toggle {
      margin-top: 0.1rem;
    }

    &-btn-pay {
      margin-top: 1.35rem;
    }

    &-input-btn {
      display: flex;
      justify-content: space-between;
      margin-top: 1.88rem;
      width: 100%;
    }
  }

  &__text-input {
    min-width: 13.85rem;
    letter-spacing: 0;
    margin-top: 0.55rem;
    line-height: 1.7rem;
  }
}
