@import "../../../modules/formelements/__logo-no-text/logo-no-text";
@import "../../../modules/cards/__booking-room/booking-room.scss";
@import "../../../modules/cards/__desc-room/desc-room.scss";
@import "../../../modules/cards/__login-form/login-form";
@import "../../../modules/cards/__registration-form/registration-form.scss";
@import "../../../modules/cards/__search-room/search-room";

.wrap {
  display: block;
  position: relative;
  max-width: rem(1440);
  padding: rem(150) rem(140) rem(140);
  margin: 0 auto;

  @media screen and (max-width: 1390px) {
    padding: rem(10);
  }
}

.container {
  display: flex;
  width: 100%;

  @media screen and (max-width: 1390px) {
    max-width: rem(1160);
  }
}

.column {
  display: flex;
  flex-flow: column nowrap;
  max-width: 33.333%;
  width: 100%;

  @media screen and (max-width: 1390px) {
    justify-content: center;
    margin: 0 auto;
  }
}

.left-column {
  max-width: rem(420);

  @media screen and (max-width: $smDesktopWidth) {
    max-width: 23.7rem;
  }

  &__wrap-search-room {
    width: 100%;
  }

  &__wrap-registration-form {
    margin-top: 2.56rem;
  }
}

.center-column {
  max-width: rem(420);

  @media screen and (max-width: $smDesktopWidth) {
    max-width: 23.7rem;
    margin-top: 2rem;
  }

  &__wrap-login-form {
    margin-top: rem(40);
  }
}

.right-column {
  max-width: 15rem;

  @media screen and (max-width: $smDesktopWidth) {
    max-width: 23.7rem;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
  }

  &__wrap-datepicker {
    @media screen and (max-width: $smDesktopWidth) {
      margin: 0 auto;
      margin-bottom: 2rem;
    }
  }

  &__wrap-desc-room {
    margin-top: 2.43rem;

    @media screen and (max-width: $smDesktopWidth) {
      margin: 0 auto;
    }
  }

  &__wrap-desc-room2 {
    @media screen and (max-width: $smDesktopWidth) {
      margin: 0 auto;
    }

    margin-top: 2.4rem;
  }
}

.datepicker-form {
  &__wrap {
    display: flex;
    max-width: 100%;
    border-radius: 4px;
    background: #ffffff;
  }
}
