@import "../utils/vars.scss"; //scss шрифтов

@import "../../../modules/formelements/__logo-no-text/logo-no-text";
@import "../../../modules/formelements/__text-field/_text-field.scss";
@import "../../../modules/formelements/__title-element/_title-element.scss";
@import "../../../modules/formelements/__dropdown/__dropdown-guest/_dropdown-guest.scss";
@import "../../../modules/formelements/__date-dropdown/_date-dropdown.scss";
@import "../../../modules/formelements/__masked-text-field/_masked-text-field.scss";
@import "../../../modules/formelements/__filter-date-dropdown/_filter-date-dropdown.scss";
@import "../../../modules/formelements/__subscription-text-field/_subscription-text-field.scss";
@import "../../../modules/formelements/__checkbox-buttons/_checkbox-buttons.scss";
@import "../../../modules/formelements/__radio-buttons/_radio-buttons.scss";
@import "../../../modules/formelements/__toggle/_toggle.scss";
@import "../../../modules/formelements/__like-button/_like-button.scss";
@import "../../../modules/formelements/__rate-button/_rate-button.scss";
@import "../../../modules/formelements/__range-slider/_range-slider.scss";
@import "../../../modules/formelements/__buttons/_buttons.scss";
@import "../../../modules/formelements/__pagination/_pagination.scss";
@import "../../../modules/formelements/__dropdown/__dropdown-room/_dropdown-room.scss";
@import "../../../modules/formelements/__expandable-checkbox-list/_expandable-checkbox-list.scss";
@import "../../../modules/formelements/__advantages/_advantages.scss";
@import "../../../modules/formelements/__rich-checkbox-btn/_rich-checkbox-btn.scss";
@import "../../../modules/formelements/__bullet-list/_bullet-list.scss";
@import "../../../modules/formelements/__feedback/_feedback.scss";


.wrapper {
  display: block;
  box-sizing: border-box;
  max-width: rem(1440);
  width: 100%;
  padding: 8.97rem 8.39rem 2.5rem 8.88rem;
  background: #ffffff;
  margin: 0 auto;
  position: relative;

  @media screen and (max-width: $desktopWidth) {
    padding: 2rem;
  }

  @media screen and (max-width: $smDesktopWidth) {
    max-width: 100%;
  }
}

.container {
  display: flex;
  width: 100%;
  margin-bottom: 6.15rem;

  @media screen and (max-width: $smDesktopWidth) {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
}

.column {
  display: flex;
  flex-direction: column;
  max-width: 33.333%;
  width: 100%;

  @media screen and (max-width: $smDesktopWidth) {
    max-width: 100%;

  }

  &-left {
    padding-right: 4.15rem;

    &__text-field {
      margin-bottom: 1.06rem;
    }

    &__dropdown {
      margin-bottom: 1.21rem;
    }

    &__date-dropdown {
      margin-top: 2.37rem;
    }

    &__filter-date-dropdown {
      margin-top: 2.43rem;
    }

    &__subscription-text-field {
      margin-top: 2.34rem;
    }

    &__dropdown-room {

      &-inner {
        margin-bottom: 1.1rem;
      }
    }

    &__wrap-dropdown-room {
      margin-bottom: 1.125rem;
    }

    &__expandable-checkbox-list {
      margin-top: 9.47rem;
    }

    &__wrap-checkbox-list {
      margin-bottom: 2.99rem;
    }

    &__advantages {}
  }

  &-center {
    display: flex;
    padding-left: 3.8rem;

    &__checkbox-buttons {
      &-wrap {
        margin-top: 15px;
      }
    }

    &__radio-buttons {
      margin-top: 1.84rem;

      &-wrap {
        margin-top: 0.85rem;
        display: flex;
        justify-content: space-between;
        width: 13.8rem;
      }
    }

    &__toggle {
      margin-top: 1.95rem;

      &-wrap {
        margin-top: 0.795rem;

        &:last-child {
          margin-top: 0.65rem;
        }
      }
    }

    &__like-button {
      margin-top: 2.67rem;
    }

    &__wrap-like-button {
      width: 5.62rem;
      display: flex;
      justify-content: space-between;
      margin-top: 0.94rem;
    }

    &__rate-button {
      margin-top: 2.45rem;

      &-wrap {
        display: flex;
        justify-content: space-between;
        width: 16.35rem;
        margin-top: 1rem;
      }
    }

    &__dropdown-guest {
      padding-right: 0.3rem;
    }

    &__wrap-dropdown-guest {
      margin-top: 0.19rem;
    }

    &__rich-checkbox-btn {
      max-width: 17.5rem;
      margin-top: 15.9rem;
    }

    &__wrap-checkbox {
      margin-top: 0.875rem;
    }
  }

  &-right {
    display: flex;
    padding-left: 4.2rem;

    &__range-slider {
      max-width: rem(266);
    }

    &__buttons {
      margin-top: 2.7rem;
    }

    &__wrap-btn {
      max-width: 15.5rem;
      display: flex;
      flex-flow: row wrap;
      padding-left: 0.04rem;
    }

    &__inner-btn {
      max-width: rem(99);
      margin-right: rem(19);
      margin-top: 1rem;

      &:nth-child(n+3) {
        margin-top: 1.9rem;
      }

      &-link {
        display: flex;
        margin-top: 1.95rem;
        max-width: 9rem;
        width: 100%;
        justify-content: space-between;
      }
    }

    &__wrap-btn-with-icon {
      margin-top: 1.9rem;
      width: 100%;
    }

    &__pagination {
      margin-top: 2.5rem;
    }

    &__wrap-pagination {
      margin-top: 1rem;
    }

    &__dropdown-guest {}

    &__bullet-list {
      margin-top: 15.9rem;
      width: 16.25rem;
    }

    &__wrap-bullet-list {
      margin-top: 0.75rem;
    }
  }

  &__feedback {
    max-width: 100%;
    margin-left: 3.6rem;
    margin-top: 1.95rem;
  }
}

.--big-padding-right {
  padding-right: 3.4rem;
}

.--margin-top {
  margin-top: 12.06rem;
}