@import "../utils/vars.scss";
@import '../../../modules/header/__header/header';
@import '../../../modules/footer/__footer/_footer.scss';
@import '../../../modules/footer/__footer-mobile/_footer-mobile.scss';

html {
  font-size: 16px;
  /* Устанавливает желаемый относительный размер шрифта */
  -webkit-text-size-adjust: 100%;
  width: 100%;

  @media screen and (max-width: $desktopWidth) {
    font-size: 15px;
  }

  @media screen and (max-width: $tableWidth) {
    font-size: 14px;
  }

  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

.wraphf {
  background: #e5e5e5;
  padding: rem(140) 0;

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -5;
    background: $dark-75;
    opacity: 0;
    transition: opacity 0.5s ease, z-index 0.5s ease;

    &--show {
      opacity: 1;
      z-index: 99;
    }
  }
}

.wrapper {

  &__header-user-block {
    margin-top: 39px;
  }

  &__footer {
    margin-top: 40px;
  }

  &__footer-mobile {
    margin-top: 40px;
  }
}