@import "../../../modules/header/__header/header";
@import "../../../modules/footer/__footer/footer";
@import "../../../modules/cards/__search-room/search-room";

.wrapper {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  background: #fff;
}

.content__wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: rem(1440);
  padding: 4.425rem 8.4rem 0.54rem 8.76rem;
  background: url("../../images/bg-lp.png") no-repeat 50% 99%;
  background-size: cover;
  box-sizing: border-box;
  min-height: auto;
}

.content__wrap-text {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 26.9em;
  p {
    max-width: 17rem;
    color: $dark-75;
    text-align: right;
    line-height: 1.43rem;
    letter-spacing: 0px;
    margin-bottom: 0.79rem;
  }
}

@media (max-width: 829px) {
  .content__wrap {
    padding: 4.34rem 8.4rem 0 8.7em;
  }
}

@media (max-width: 506px) {
  .content__wrap {
    margin: 0 auto;
    padding: 4.34rem 1.5rem 0 1.5rem;
    border: $br;
  }
}
