@import "../__date-dropdown/sass/datepicker-config";
@import "../__date-dropdown/sass/cell.scss";
@import "../__date-dropdown/sass/datepicker.scss";
@import "../__date-dropdown/sass/navigation.scss";
@import "../__date-dropdown/sass/timepicker.scss";

.filter-date-dropdown {
  position: relative;
  display: flex;
  background: none;

  input {
    cursor: pointer;
  }

  i {
    top: 1.25rem;
    right: 1.11rem;
  }

}