/* css checkbox-buttons */
.rich-checkbox-btn{
  &__input{
    display:none;
  }
  &__label{
    display:flex;
    padding-top: 0.0625rem;

  }
  &__icon {
    display: inline-flex;
    align-items: flex-start;
    flex: none;
    border: 1px solid $dark-25;
    border-radius: 0.25rem;
    width: 1.13rem;
    height: 1.13rem;
    margin-right: 0.625rem;
    letter-spacing: 0.2px;
  }
  &__label > &__input:checked + &__icon:before {
    content: url("data:image/svg+xml,%0A%3Csvg width='18' height='18' viewBox='0 -3 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.46439 4.40768L5.70703 8.65032L4.29282 10.0645L0.0501771 5.82189L1.46439 4.40768Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M8.53546 2.99347L9.94967 4.40768L4.29282 10.0645L2.8786 8.65032L8.53546 2.99347Z' fill='url(%23paint1_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='7.82835' y1='2.28636' x2='2.1715' y2='7.94321' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='7.82835' y1='2.28636' x2='2.1715' y2='7.94321' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  }
  &__head{
    letter-spacing: 0;
    color:$dark-75;
    font-size: 0.875rem;
    line-height: 1.312rem;
    font-weight: bold;
    cursor:pointer;
    text-transform: none;
    letter-spacing: -0.06px;
  }
  &__desc{
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: none;
    color: $dark-50;
    padding-right: 1.25rem;
    margin-top: 0.25rem;
    letter-spacing: -0.09px;
    margin-bottom: 0.4rem;
    line-height: 0.94rem;
  }
}
/* css checkbox-buttons */


