.rich-checkbox-btn
  .rich-checkbox-btn__title rich checkbox buttons
  .rich-checkbox-btn__wrap-checkbox
    label.rich-checkbox-btn__label 
      input.rich-checkbox-btn__input(type="checkbox" name="wide-corridor")
      .rich-checkbox-btn__icon 
      .rich-checkbox-btn__head Широкий коридор
        .rich-checkbox-btn__desc Ширина коридоров в номере  <br/> не менее 91 см
  .rich-checkbox-btn__wrap-checkbox
    label.rich-checkbox-btn__label 
      input.rich-checkbox-btn__input(type="checkbox" name="assistent")
      .rich-checkbox-btn__icon 
      .rich-checkbox-btn__head Помощник для инвалидов
        .rich-checkbox-btn__desc На 1 этаже Вас встретит специалист и проводит до номера
