.footer{
    &__company{
        width: 300px / $width-content * 100%;
    }
    &__logo{
        margin:0px;
    }
    &__desc{
        line-height: 25px;
        font-size: 14px;
        padding-top:3px;
        padding-right: 40px;
        margin: 0px;
    }
    &__navigation{
        width: 206px / $width-content * 100%;
    }
    &__list{
        margin-top:4px;
        padding-left:8px;
    }
    &__item{
        list-style: none;
        margin:21px 0px;
        color: $dark-50;
        & a{
            text-decoration:none;
            color:$dark-50;
            &:hover{
                color:$dark-25;
            }
            &:active{
                color:$dark-25;
            }
        }
    }
    &__title{
        font-size:12px;
        font-weight: bolder;
        color:black;
    }
    &__aboutAs{
        width: 206px / $width-content * 100%;
    }
    &__support{
        width: 210px / $width-content * 100%;
    }
    &__subscribe{
        width: 270px / $width-content * 100%;
        margin:0px;
        box-sizing: border-box;
        padding-left:4px;
        padding-top:3px;
        & p{
            margin-top: 18px;
            line-height: 25px;
        }
    }
    &__subscribeForm{
        position:relative;
        width:256px;
        margin-top:22px;
    }
    &__input{
        height: 44px;
        display:flex;
        border:0px;
        width:258px;
        border-radius:5px;
        border:1px solid $dark-25;
        color: $dark-75;
        padding:15px;
        font-family: Montserrat;
        font-size: 14px;
        &::-webkit-input-placeholder { 
            color: $dark-25; 
        }
    }
    &__button{
        display:flex;
        width: 38px;
        height: 38px;
        position:absolute;
        right:0px;
        top:3px;
        border:0px;
        background-color:white;
     
    }
}