.footer__company
    .footer__logo 
        a(href="#")
            img(src="/header/__logo/logo.svg")
    .footer__desc
        p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
.footer__navigation
    ul.footer__list
        span.footer__title NAVIGATION
        each name in (['About Us', 'News', 'Support', 'Products'])
            li.footer__item
                a(href="#")=name
.footer__aboutAs
    ul.footer__list 
        span.footer__title ABOUT US
        each name in (['Who we are', 'Our team', 'Careers', 'Investors'])
            li.footer__item
                a(href="#")=name  
.footer__support
    ul.footer__list
        span.footer__title SUPPORT
        each name in (['Documentation', 'Community', 'Get in Touch'])
            li.footer__item
                a(href="#")=name  
.footer__subscribe
    span.footer__title SUBSCRIBE TO OUR NEWSLETTER
    p Receive our latest news and promotions in your inbox!
        form.footer__subscribeForm 
            input.footer__input(type="text" placeholder="Your email address") 
            button.footer__button
                img(src="/footer/__footerMain/arrow_forward-24px.svg" alt="") 
