.dropdown-guest{
  position:relative;
  &__input{
    width: 100%;
    font-family: Montserrat, 'Open sans', sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem;
    padding: 0.5rem 0.875rem 0.625rem;
    border-radius: 4px;
    border: none;
    color: $dark-75;
    cursor: pointer;
    outline:none;
    background:none;
    &-icon{
      display: flex;
      justify-content: center;
      position: absolute;
      color: $dark-25;
      border: 2px solid $dark-50;
      transform: rotate(-45deg);
      border-width:0 0 2px 2px;
      width: 0.4375rem;
      height: 0.4375rem;
      top: 0.875rem;
      right: 1rem;
      cursor: pointer;
    }
  }
  &__form{
    margin-top:0.25rem;
    border-radius: 4px;
    border: 1px solid $dark-25;
    margin-bottom:1.25rem;
    transition: border 0.2s;
    position: relative;
    &--border-bottom-90deg{
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      color: $dark-75;
      border-color: $dark-50;
      outline: none;
    }
    &:hover, &:focus{
      color: $dark-75;
      border-color: $dark-50;
      outline: none;
    }
  }
  &__overlay{
    visibility: hidden; 
    position:fixed; 
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0; 
    z-index: 109; 
    &--open{
      visibility: visible; 
    }
  }
  &__form-expanded{
    opacity:1;
    overflow: hidden;
    width:100%;
    height: 9.875rem;
    border: 1px solid $dark-50;
    border-radius: 0px 0px 4px 4px;
    position:absolute;
    top: 4.0625rem;
    left: 0rem;
    padding-bottom: 0.375rem;
    box-sizing: border-box;
    z-index: 111;
    color: $dark-100;
    background: #ffffff;
    outline: none;
    transition: height 0.5s, opacity 0.3s;
    &--hide{
      height: 0px;
      padding:0px;
      opacity:0;
    }
  }
  &__inner{
    padding:0.0625rem 0.25rem 0rem 0.25rem;
    &:after{
      content:'';
      display:table;
      clear:both;
    }
  }
  &__item-guest{
    float: left;
    padding-top: 0.75rem;
    margin-left: 0.625rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
  }
  &__item-control{
    display:flex;
    align-items:center;
    float:right;
    padding-top: 0.1875rem;
    margin-right: 0.09375rem;
  }
  &__btn{
    height: 1.875rem;
    width: 1.875rem;
    border:1px solid $dark-50;
    border-radius: 1rem;
    background:none;
    cursor:pointer;
    color:$dark-50;
    margin-top: 0.125rem;
    margin-bottom: 0.0625rem;
    outline:none;
    transition: background 0.2s;
    &:hover{
      background: $dark-5; 
    }
    &--deactivate{
      border-color:$dark-25;
    }
  }
  &__number{
    display:inline-flex;
    justify-content: center;
    width:2.0625rem;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 0.9375rem;
  }
  &__wrap-btn-link{
    display:flex;
    justify-content: space-between;
    padding: 1.125rem 0rem 0.25rem 0.4375rem;
  }
  &__btn-clear, &__btn-apply{
    display: block;
    font-family: $fontM;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: none;
    outline: none;
    cursor:pointer;
    color: $dark-50;
    &:hover{
      color:$purple; 
    }
  }
  &__btn-clear{
    opacity:1;
    pointer-events: auto;
    &--hide{
      opacity:0;
      pointer-events: none;
    }
  }
}