<!-- Input выбора колличества гостей -->
.dropdown-guest    
  .dropdown-guest__title dropdown
  //- .dropdown-guest__subtitle.dropdown-guest__subtitle--small-margin DEFAULT
  .dropdown-guest__form.dropdown-guest__form--border-bottom-90deg
    input.dropdown-guest__input(type='text' value='Сколько гостей' data-adults='' data-children='' data-babies='' disabled)
    i.dropdown-guest__input-icon
  .dropdown-guest__overlay
  .dropdown-guest__form-expanded
    .dropdown-guest__inner
      .dropdown-guest__item-guest взрослые
      .dropdown-guest__item-control
        button.dropdown-guest__btn.dropdown-guest__btn--deactivate(name='minus' data-guest='adults') -
        .dropdown-guest__number(data-number='adults') 0
        button.dropdown-guest__btn(name='plus' data-guest='adults') +
    .dropdown-guest__inner
      .dropdown-guest__item-guest дети
      .dropdown-guest__item-control
        button.dropdown-guest__btn.dropdown-guest__btn--deactivate(name='minus' data-guest='children') -
        .dropdown-guest__number(data-number='children') 0
        button.dropdown-guest__btn(name='plus' data-guest='children') +
    .dropdown-guest__inner
      .dropdown-guest__item-guest младенцы
      .dropdown-guest__item-control
        button.dropdown-guest__btn.dropdown-guest__btn--deactivate(name='minus' data-guest='babies') -
        .dropdown-guest__number(data-number='babies') 0
        button.dropdown-guest__btn(name='plus' data-guest='babies') +
    .dropdown-guest__wrap-btn-link
      button.dropdown-guest__btn-clear.dropdown-guest__btn-clear--hide очистить
      button.dropdown-guest__btn-apply применить
