
mixin social-btn()
  .social-btn
    .social-btn__box
      a(href="tw")
        .social-btn__icon.social-btn__icon-tw
      a(href="fb")
        .social-btn__icon.social-btn__icon-fb
      a(href="ig")
        .social-btn__icon.social-btn__icon-ig