/* ---- Форма поиска комнаты ------- */
.search-room{
    width: 377px;
    background-color: #fff;
    border-radius:7px;
    box-shadow:0 0 20px $dark-25;
    padding:28px;
    box-sizing: border-box;
    height: 370px;
    &__title{
        font-family: Quicksand, 'Open sans',sans-serif;
        font-size: 24px;
        line-height: 30px;
        font-weight: bold;
        margin: 10px 0px;
    }
    &__subtitle{
        display: block;
        font-family: Quicksand, 'Open sans',sans-serif;
        font-size: 13px;
        line-height: 20px;
        font-weight: bold;
        text-transform: uppercase;
        margin:10px 1px 0px;
    }
    &__wrap-date-picker{
        display:flex;
        width:104%;
        box-sizing: border-box;
        flex-wrap:nowrap;
    
    }
    &__clearfix{
        content:'';
        display:table;
        clear:both;
    }
    &__date-picker-in{
        position:relative;
        width:49%;
        float:left;
    }
    &__date-picker-out{
        position:relative;
        width:48%;
        float:left;
        padding-left:6px;
    }
    &__date-input{
        font-family: Montserrat,'Open Sans', sans-serif;
        font-size: 14px;
        width: 93%;
        padding:12px 13px;
        border-radius:3px;
        border: 1px solid $dark-25;
        outline: none;       
        cursor: pointer;
        margin-top:0px;

    }
    &__date-icon{
        display:flex;
        justify-content:center;
        color:$dark-25;
        width: 44px;
        height: 48px;
        background:url('../src/img/expand_more.svg') no-repeat 50% 50%;
        position:absolute;
        top:30px;
        right:11px;
        cursor:pointer;
    }
    &__guests-wrap{
        display:flexbox;
        padding:13px 0px;
        position:relative;
    }
    &__guests-input{
        width:100%;
        padding: 12px 14px;
        font-family: Montserrat,'Open Sans', sans-serif;
        font-size: 14px;
        border-radius:3px;
        border: 1px solid $dark-25;
        outline: none;       
        cursor: pointer;

    }
    &__guests-icon{
        display:flex;
        justify-content:center;
        color:$dark-25;
        width: 44px;
        height: 44px;
        background:url('../src/img/expand_more.svg') no-repeat 50% 50%;
        position:absolute;
        top:42px;
        right:2px;
        cursor:pointer;
        
    }
    &__button-wrap{
        display:flexbox;
        width: 100%;
        margin:0px;
        margin-top:19px;
        position:relative;

    }
    &__submit{
        width:99%;
        border-radius:22px;
        font-family: Montserrat,'Open Sans', sans-serif;
        padding:14px;
        font-size: 12px;
        line-height:15px;
        background: $btn-bg;
        font-weight: bold;
        color:white;
        cursor:pointer;
        text-transform:uppercase;
        border:none;
    }
    &__submit-icon{
        display:inline-block;
        justify-content:center;
        width: 44px;
        height: 44px;
        background:url('../src/img/arrow_forward-24px.svg') no-repeat 50% 50%;
        position:absolute;
        top:0px;
        right:2px;
        cursor:pointer;
    }
}
/* ---- Конец формы поиска комнаты ------- */