mixin btn-with-icon( data )
  if data.hover
    button.buttons__btn-with-icon.buttons__btn-with-icon--hover(value=data.value name=data.name)= data.text
      i.buttons__icon
  else  
    button.buttons__btn-with-icon(value=data.value name=data.name)= data.text
      i.buttons__icon