/* CSS toggle */
.toggle{
  &__wrap{
    display: flex;
    align-items: flex-start;
    padding-top: 1px;
    min-width: 36.3%;
    color: $dark-50;
    padding-bottom: 10px;
  }
  &__input{
    display: none;
  }
  &__label {
    position:relative;
    cursor: pointer;
    display:flex;
    align-items: center;
    line-height: 14px;
    letter-spacing: -0.07px;
  }
  &__icon:before {
    content: '';
    display:inline-flex;
    width: 39px;
    height: 18px;
    border-radius: 9px;
    transition: .2s;
    border:1px solid $dark-25;
    margin-right:9px;
    transition: border 0.3s;
  }
  &__icon:after {
    content: '';
    position:absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: $dark-25;
    transition: left .2s;
  }
  &__label > &__input:checked + &__icon:before {
   border:1px solid $purple;
  }
  &__label > &__input:checked + &__icon:after {
    left: 24px;
    background: $purple;
  }
}
/* End CSS toggle */
