<!-- Input выбора колличества гостей -->
include ../../__title-element/title-element.pug
include ../../__buttons/__btn-link/btn-link.pug
mixin dropdown-guest( data )
  .dropdown-guest
    +title-element({title: data.title, subtitle: data.subtitle})
    .dropdown-guest__form
      input.dropdown-guest__input(type='text' name= data.name value='Сколько гостей' data-adults='' data-children='' data-babies='')
      i.dropdown-guest__input-icon.icon-arrow
    .dropdown-guest__overlay.dropdown-guest__overlay--hide
    .dropdown-guest__form-expanded.dropdown-guest__form-expanded--hide
      .dropdown-guest__inner
        .dropdown-guest__item-guest взрослые
        .dropdown-guest__item-control
          button.dropdown-guest__btn.dropdown-guest__btn--deactivate(name='minus' data-guest='adults') -
          .dropdown-guest__number.js__numGuests 0
          button.dropdown-guest__btn(name='plus' data-guest='adults') +
      .dropdown-guest__inner
        .dropdown-guest__item-guest дети
        .dropdown-guest__item-control
          button.dropdown-guest__btn.dropdown-guest__btn--deactivate(name='minus' data-guest='children') -
          .dropdown-guest__number.js__numGuests 0
          button.dropdown-guest__btn(name='plus' data-guest='children') +
      .dropdown-guest__inner
        .dropdown-guest__item-guest младенцы
        .dropdown-guest__item-control
          button.dropdown-guest__btn.dropdown-guest__btn--deactivate(name='minus' data-guest='babies') -
          .dropdown-guest__number.js__numGuests 0
          button.dropdown-guest__btn(name='plus' data-guest='babies') +
      .dropdown-guest__wrap-btn-link
        +btn-link({name: "clear", text: "очистить"})
        +btn-link({name: "apply", text: "применить"})
