.footerCenter{
    &__container{
        width: 100%;
        padding: 100px 0px;
        display:flex;
        align-items:center;
        flex-direction: column;
    }
    &__desc{
        width:560px;
        text-align:center;
        line-height:24px;
        font-size:14px;
        margin-top:18px;
    }
    &__iconBox{
        margin-top:16px;
    }
}