.footerCenter__container
    img.footerCenter__logo(src="../src/img/logo.svg", alt="")
    p.footerCenter__desc Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    .footerCenter__iconBox
        include ../__footerCopy/__iconBox/icon.pug
