mixin btn-blue( data )
  if data.hover
    button.button.--blue.--button-hover(value=data.value name=data.name)= data.text
  else  
    button.button.--blue(value=data.value name=data.name)= data.text


