/* CSS like-button */
.like-button{
  &__input{
    display: none;
  }
  &__label{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 20px;
  }
  &__span{
    display:flex;
    justify-content: center;
    line-height: 12px;
    font-size: 10px;
    text-align: center;
    width:100%;
  }
  &__wrap-btn{
    display: inline-flex;
    align-items: center;
    border: $br;
    width: 40px;
    border: 1px solid $dark-25;
    border-radius: 9px;
    height: 18px;

  }
  &__icon:before{
    content: " ";
    background: url('../src/forms-elements/__like-button/like-icon.png') -36px -8px;
    width: 13px;
    height: 13px;
    float: left;
    cursor: pointer;
  }
  &__label > &__input:checked + &__wrap-btn > &__icon:before{
    background: url('../src/forms-elements/__like-button/like-icon.png') -6px -8px;
  }
  &__label > &__input:checked + &__wrap-btn{
    border: 1px solid $purple;
  }
}
/* End CSS like-button */