.like-button
    .like-button__title like button
    .like-button__wrap-btn 
      input.like-button__input(type='checkbox' id='like-button')
      label.like-button__label(for='like-button')
        .like-button__span 2
    .like-button__wrap-btn 
      input.like-button__input(type='checkbox' id='like-button1' checked)
      label.like-button__label(for='like-button1')
        .like-button__span 12