.like-button
    .like-button__title like button
    .like-button__wrap-btn 
      input.like-button__input(type='checkbox' id='like-button')
      label.like-button__label(for='like-button') 2
    .like-button__wrap-btn 
      input.like-button__input(type='checkbox' id='like-button')
      label.like-button__label(for='like-button') 12