@import "./index.scss";
@import "./forms/__search-room/search-room";
.wrapper{
  display: block;
  max-width: 1169px;
  padding: 9.34rem 8.72rem;
  border: $br;
}
.container{

}
.left-column{}
.center-column{}
.right-column{}