@import "./fonts/font"; //scss шрифтов
$color: #1F2041;
$purple: #BC9CFF;
$green: #6fcf97;
$dark-100: $color;
$dark-75: rgba(31, 32, 65, 0.75);
$dark-50: rgba(31, 32, 65, 0.50);
$dark-25: rgba(31, 32, 65, 0.25);
$dark-10: rgba(31, 32, 65, 0.10);
$dark-5: rgba(31, 32, 65, 0.05);
$btn-bg: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); // цвет фона кнопок
$max-width: 1431px; // Максимальная ширина страницы
$min-width: 20rem; // Минимальная ширина страницы
$height-header: 4.37rem; //высота шапки с меню
$width-content: ($max-width - 140px)/$max-width*100%; // ширина блока с контентом с учётом отступов по 140px по краям
$br: 1px solid #666; // граница для тестов
$fontM: Montserrat,'Open Sans', sans-serif;
$fontO: Quicksand, 'Open Sans', sans-serif;
$fontOr: 'Quicksand-Regular', 'Open Sans',sans-serif;
html {
    font-size: 16px;
     /* Устанавливает желаемый относительный размер шрифта */
     -webkit-text-size-adjust: 100%;
     width: 100%;
}
 
body {
    margin: 0;
    padding: 0;
    font-family: $fontM;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    background-color: #E5E5E5;
    letter-spacing: -0.2px;
}

@media (max-width: 829px) {
    html {
        font-size: 12px;
    }
}
// Small devices (landscape phones, минимальная ширина области просмотра 576px и выше)
@media (min-width: 830px) {
    html {
        font-size: 11px;
    }
}

// Medium devices (tablets, минимальная ширина области просмотра 768px и выше)
@media (min-width: 968px) {
    html {
        font-size: 13px;
    }
}

// Large devices (desktops, минимальная ширина области просмотра 992px и выше)
@media (min-width: 1040px) {
    html {
        font-size: 14px;
    }
}

// Extra large devices (large desktops, минимальная ширина области просмотра 1200px и выше)
@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}