doctype html
html
  head
    title Hotel
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    meta(name = "viewport" content = "width=device-width, initial-scale = 1")
    link(rel="stylesheet" href="./forms-elements/_forms-elements.scss")

  body
    .wrapper.wrapper--bgwhite
      include ./forms-elements/forms-elements.pug
     
  script(src="./forms-elements/forms-elements.js")

