include ./forms/__search-room/search-room.pug
include ./forms/__registration-form/registration-form.pug
include ./forms/__booking-room/booking-room.pug
include ./forms/__login-form/login-form.pug
include ./forms/__desc-room/desc-room.pug



doctype html
html
  head
    title Hotel
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    link(rel="stylesheet" href="./_forms.scss" )
    meta(name = "viewport" content = "width=device-width, initial-scale = 1")

  body
    .wrapper
      .container
        .left-column
          .left-column__wrap-search-room
            +search-room({nameForm: "search-room"})
          .left-column__wrap-registration-form
            +registration-form({})
        .center-column
          .center-column__wrap-booking-room
            +booking-room({})
          .center-column__wrap-login-form
            +login-form({})
        .right-column
          .right-column__wrap-datepicker
            .datepicker-form
              .datepicker-form__wrap
                .datepicker-here.datepicker-form__calendar
          .right-column__wrap-desc-room
            +desc-room({number: "888", type: "люкс", price: "9 990", feedback: 145, imgLink: ["./img/room1.png","./img/room2.png","./img/room3.png","./img/room4.png",]})
          .right-column__wrap-desc-room2
            +desc-room({number: "840", price: "9 900", feedback: 65, imgLink: ["./img/room5.png","./img/room6.png","./img/room7.png","./img/room8.png",]})
  script(src='./forms.js')

