
include header/__header/header.pug
include footer/__footer/footer.pug
include footer/__footer-mobile/footer-mobile.pug

doctype html
html
  head
    title Header and Foother
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    link(rel="stylesheet" href="./hf.scss")
    meta(name = "viewport" content = "width=device-width, initial-scale = 1")
  body
    .wrapper
      .wrapper__header
        +header({auth: true})
      .wrapper__header-user-block
        +header({auth: false})
      .wrapper__footer
        +footer({})
      .wrapper__footer-mobile 
        +footer-mobile({})
