html
  head
    title Hotel
  body
    .wrapper
      .header.header__clearfix
        include header/header.pug
      .header.header__clearfix.header__tooBlock
        include header/__userLink/userlink.pug
      //-footer
      include /footer/footer.pug
  script(src='index.js')
