//*color mixed
$color        : #1F2041;
$purple       : #BC9CFF;
$green        : #6fcf97;
$dark-100     :$color;
$dark-75      : rgba(31, 32, 65, 0.75);
$dark-50      : rgba(31, 32, 65, 0.50);
$dark-25      : rgba(31, 32, 65, 0.25);
$dark-10      : rgba(31, 32, 65, 0.10);
$dark-5       : rgba(31, 32, 65, 0.05);
$btn-bg       : linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); // цвет фона кнопок
$max-width    : 1431px; // Максимальная ширина страницы
$min-width    : 320px; // Минимальная ширина страницы
$height-header: 70px; //высота шапки с меню
$width-content: ($max-width - 280px)/$max-width*100%; // ширина блока с контентом с учётом отступов по 140px по краям
$br           : 1px solid #666; // граница для тестов
$fontM        : Montserrat, 'Open Sans', sans-serif;
$fontO        : Quicksand, 'Open Sans', sans-serif;

// Подключение основных scss блоков
@import "./src/fonts/font";    //scss шрифтов
// @import "./src/header/header"; //scss хедера 
// @import "./src/footer/footer"; //scss футера
@import "./src/forms-elements/forms-elements";    //scss страницы forms-elements с элементами форм
html{
    font-size: 16px;
}

body {
    margin          : 0 auto;
    padding         : 0px;
    font-family     : Montserrat, 'Open Sans', sans-serif;
    font-style      : normal;
    font-weight     : 400;
    font-size       : 14px;
    background-color: #E5E5E5;
    letter-spacing  : -0.2px;
}
.wrapper {
    max-width       : $max-width;
    min-width       : $min-width;
    padding         : 0px;
    margin          : 0;
    &--bgwhite{
        background-color: #fff;
    }
}