html
  head
    title Hotel
  body
    .wrapper
      .header.header__clearfix
        include header/header.pug
      .header__userLink
        include header/__userLink/userlink.pug
  script(src='index.js')
