//*color mixed
$color        : #1F2041;
$purple       : #BC9CFF;
$green        : #6fcf97;
$dark-100     :$color;
$dark-75      : rgba(31, 32, 65, 0.75);
$dark-50      : rgba(31, 32, 65, 0.50);
$dark-25      : rgba(31, 32, 65, 0.25);
$dark-10      : rgba(31, 32, 65, 0.10);
$dark-5       : rgba(31, 32, 65, 0.05);
$btn-bg       : linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); // цвет фона кнопок
$max-width    : 89.43rem; // Максимальная ширина страницы
$min-width    : 20rem; // Минимальная ширина страницы
$height-header: 4.37rem; //высота шапки с меню
$width-content: ($max-width - 17.5rem)/$max-width*100%; // ширина блока с контентом с учётом отступов по 140px по краям
$br           : 1px solid #666; // граница для тестов
$fontM        : Montserrat, 'Open Sans', sans-serif;
$fontO        : Quicksand, 'Open Sans', sans-serif;
$fontOr       : 'Quicksand-Regular','Open Sans', sans-serif;
// Подключение основных scss блоков
@import "./fonts/font";    //scss шрифтов
@import "./forms-elements/forms-elements";    //scss страницы forms-elements с элементами форм
@import "./forms-elements/__color-item/color-item";
html{
    font-size: 16px;
}
body {
    margin          : 0 auto;
    padding         : 0;
    font-family     : $fontM;
    font-style      : normal;
    font-weight     : 400;
    font-size       : 0.875rem;
    background-color: #E5E5E5;
    letter-spacing  : -0.2px;
}
.wrapper {
    width: $max-width;
    min-width: $min-width;
    padding: 0;
    margin: 0;
    background: #ffffff;
}
.container-content{
    display:flex;
    padding: 9rem 9.31rem 7.8rem;
}
.content-left{
    width:57%;
}
.content-right{
    width: 40%;
    display:flex;
    flex-direction: column;
    &__wrap-text{
        height: 3.75rem;
        display:flex;
        width:100%;
        margin-bottom:3.06rem;
        &-h2{
            height: 3.75rem;
            display:flex;
            width:100%;
            margin-bottom: 2.35rem;
        }
        &-h3{
            height: 3.75rem;
            display:flex;
            width:100%;
            margin-bottom:0.2rem; 
        }
        &-body{
            height: 3.75rem;
            display:flex;
            width:100%;
        }
    }
    &__title-box{
        width: 20%;
        display:block;
        box-sizing: border-box;
        padding-right: 0.5rem;
        text-align: right;
    }
    &__text-box{
        display:block;
        box-sizing: border-box;
        width: 80%;
        padding: 0.07rem 0 0 1.34rem;
    }
    h1{
        font-family: $fontO;
        font-size: 1.5rem;
        line-height: 1.87rem;
        margin: 0;
        padding: 0;
        letter-spacing: 0.09px;
    }
    &__h1{
        font-family: $fontM;
        font-size: 1.5rem;
        letter-spacing: 0;
    }
    h2{
        font-family: $fontO;
        font-size: 1.18rem;
        line-height: 1.5rem;
        margin: 0;
        padding: 0;
        letter-spacing: 0.18px;
    }
    &__h2{
        font-family: $fontM;
        font-size: 1.19rem;
        line-height: 1.44rem;
    }
    h3{
        font-family: $fontM;
        font-size: 0.75rem;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        letter-spacing: -0.03px;
    }
    &__h3{
        font-family: $fontM;
        font-size: 0.75rem;
        margin-bottom: 0px;
    }
    p{
        font-family: $fontM;
        font-size: 0.875rem;
        margin: 0;
        padding: 0;
        line-height: 22px;
        letter-spacing: -0.03px;
    }
    &__body{
        font-family: $fontM;
        line-height: 1.44rem;
    }
    &__box-p{
        width:88%;
    }
}
// Small devices (landscape phones, минимальная ширина области просмотра 576px и выше)
@media (min-width: 576px) { 
    html{
        font-size: 10px;
    }
}

// Medium devices (tablets, минимальная ширина области просмотра 768px и выше)
@media (min-width: 768px) {  
    html{
        font-size: 12px;
    }    
}

// Large devices (desktops, минимальная ширина области просмотра 992px и выше)
@media (min-width: 992px) { 
    html{
        font-size: 14px;
    }
}

// Extra large devices (large desktops, минимальная ширина области просмотра 1200px и выше)
@media (min-width: 1200px) { 
    html{
        font-size: 16px;
    }
}
