<!-- Input выбора колличества гостей -->
.dropdowns    
    .dropdowns__title dropdown
    .dropdowns__subtitle.dropdowns__subtitle--small-margin DEFAULT
    .dropdowns__form
        input.dropdowns__input(type='text' value='Сколько гостей')
        i.dropdowns__input-icon
<!-- Маска текстового поля с датой -->
.dropdowns    
    .dropdowns__title Masked text field
    .dropdowns__subtitle DEFAULT
    .dropdowns__form
        input.dropdowns__input(type='text' value='' placeholder='ДД.ММ.ГГГГ')
        