mixin title-element( text )
  .title-element
    h3.title-element__h3= text.title
    if text.marginTop
      .title-element__subtitle.title-element__subtitle--margin-top=text.subtitle
    else
      .title-element__subtitle=text.subtitle