.footer
    .footer__main
        .footer__content
            include ../footer/__footerMain/footerMain.pug
    .footer__copyright  
        .footer__content.footer__content-copy
            include ../footer/__footerCopy/footerCopy.pug
    .footer__footerCenter   
        .footer__content.footer__content-center
            include ../footer/__footerCenter/footerCenter.pug
