.rate-button {
  &__wrap-star {
    overflow: hidden;
    width: rem(120);
    margin: 0 auto;
    direction: rtl;
  }

  &__wrap-star:not(:checked)>input {
    display: none;
    list-style: none;
    height: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  &__wrap-star:not(:checked)>label {
    display: inline-flex;
    width: rem(24);
    height: rem(24);
    cursor: pointer;
    background: url("images/star.png") no-repeat 0 0;
    background-size: cover;
  }

  &__wrap-star:not(:checked)>label:before {
    content: '';
    display: inline-flex;
    width: rem(24);
    height: rem(24);
  }

  &__wrap-star>input:checked~label {
    background: url("images/star.png") no-repeat 0 rem(-24);
    background-size: cover;
  }

  &__wrap-star:not(:checked)>label:hover,
  &__wrap-star:not(:checked)>label:hover~label {
    background-position: 0 rem(-24);
  }

  &__wrap-star>input:checked+label:hover,
  &__wrap-star>input:checked+label:hover~label,
  &__wrap-star>input:checked~label:hover,
  &__wrap-star>input:checked~label:hover~label,
  &__wrap-star>label:hover~input:checked~label {
    background-position: 0 rem(-24);
  }

}