.rate-button {
  &__wrap-star {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow: hidden;
    width: 7.4rem;
    margin: 0 auto;
    direction: rtl;
  }

  &__wrap-star:not(:checked)>input {
    display: none;
    list-style: none;
    height: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  &__wrap-star:not(:checked)>label {
    display: inline-flex;
    width: 1.35rem;
    height: 1.35rem;
    cursor: pointer;
    background: url("images/star.png") no-repeat 0 0;
    background-size: cover;
  }

  &__wrap-star:not(:checked)>label:before {
    content: '';
    display: inline-flex;
    width: 1.35rem;
    height: 1.35rem;
  }

  &__wrap-star>input:checked~label {
    background: url("images/star.png") no-repeat 0 -1.3rem;
    background-size: cover;
  }

  &__wrap-star:not(:checked)>label:hover,
  &__wrap-star:not(:checked)>label:hover~label {
    background-position: 0 -1.3rem;
  }

  &__wrap-star>input:checked+label:hover,
  &__wrap-star>input:checked+label:hover~label,
  &__wrap-star>input:checked~label:hover,
  &__wrap-star>input:checked~label:hover~label,
  &__wrap-star>label:hover~input:checked~label {
    background-position: 0 -1.3rem;
  }

}