.rich-checkbox-btn {
  &__label {
    display: flex;
    padding-top: 0.0625rem;
    width: 100%;
    margin-bottom: 0.1rem;

    input {
      display: none;
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $dark-25;
    border-radius: 0.25rem;
    width: rem(20);
    height: rem(20);
    margin-right: 0.625rem;
  }

  &__label > input:checked + &__icon {
    border: 1px solid $purple;
  }

  &__label > input:checked + &__icon:before {
    content: " ";
    width: rem(6);
    height: rem(8);
    border-bottom: 0.125rem solid $purple;
    border-right: 0.125rem solid $purple;
    transform: rotate(45deg);
    padding-bottom: 0.1rem;
  }

  &__head {
    max-width: 87%;
    letter-spacing: 0;
    color: $dark-75;
    font-size: 0.875rem;
    line-height: 1.312rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: none;
    letter-spacing: 0;
  }

  &__desc {
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: none;
    color: $dark-50;
    padding-right: 1.25rem;
    margin-top: 0.25rem;
    letter-spacing: -0.09px;
    margin-bottom: 0.4rem;
    line-height: 0.9rem;
  }
}
