.buttons__btn--blue{
  width:100%;
  height: 100%;
  min-width: 4rem;
  min-height: 1.5rem;
  background: $btn-bg;
  text-transform: uppercase;
  font-family: $fontM;
  font-size: 0.75rem;
  font-weight: bold;
  color:#fff;
  line-height: 0.93rem;
  border-radius: 1.375rem;
  cursor:pointer;
  letter-spacing: -0.4px;
  border:none;
  outline:none;
  &:hover{
    opacity:0.5;
  }
  &--hover{
    opacity:0.5;
  }
}